doctype html
html
	head
		block vars

		if title
			title #{title} - #{site ? site.title : ''}
		else
			title #{site ? site.title : ''}


		<link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css"/>
		script(type='text/javascript', src='/public/javascripts/jquery.js')
		script(type='text/javascript', src='/public/javascripts/jquery-migrate.min.js')
		script(type='text/javascript', src='/public/javascripts/jquery.themepunch.tools.min.js')
		script(type='text/javascript', src='/public/javascripts/jquery.themepunch.revolution.min.js')
		script(type='text/javascript', src='/public/javascripts/add-to-cart.min.js')
		script(type='text/javascript', src='/public/javascripts/woocommerce-add-to-cart.js')




	body.home.page.page-id-11.page-template.page-template-full-width.page-template-full-width-php.quadric.edgtf-blog-installed.edgtf-header-standard.edgtf-fixed-on-scroll.edgtf-default-mobile-header.edgtf-sticky-up-mobile-header.edgtf-light-header.edgtf-fullscreen-search.edgtf-search-fade.edgtf-side-menu-slide-with-content.edgtf-width-470.wpb-js-composer.vc_responsive.edgtf-woocommerce-page


		block content
		script(type='text/javascript', src='/public/javascripts/public.js')

	block script