extends layout

block vars
    - let title = 'QUADRIC'

block content
    section.edgtf-side-menu.right
        .edgtf-close-side-menu-holder
            .edgtf-close-side-menu-holder-inner
                a.edgtf-close-side-menu(href='#', target='_self')
                    span.icon_close(aria-hidden='true')
        #text-7.widget.edgtf-sidearea.widget_text
            .textwidget
                .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 59px;margin-bottom: 0px')
                    .edgtf-separator
                a(href="javascript:;")
                    img(src='/public/images/uploads/quadric-side-area.png', alt='logo')
                .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-center.edgtf-zig-zag-separator-medium.edgtf-zig-zag-separator-on(data-svg-drawing='no', data-svg-frames='40', style='margin-top: 29px;margin-bottom: 55px')
                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='14', width='68', viewBox='0 0 69.172 14.975', xml:space='preserve')
                        path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                        29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
        #text-8.widget.edgtf-sidearea.widget_text
            .textwidget
                .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 44px;margin-bottom: 0px')
                    .edgtf-separator
                h4
                    span(style='color: #7f7f7f;') Explore our favorite Quadric pages and layouts, and find the right fit for you.
                .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 20px;margin-bottom: 0px')
                    .edgtf-separator
                span.edgtf-icon-shortcode.normal(style='margin: 0 35px 0 0', data-hover-color='#fb3644', data-color='#ffffff')
                    a(href="javascript:;", target='_blank')
                        i.edgtf-icon-font-awesome.fa.fa-weixin.edgtf-icon-element(style='color: #ffffff;font-size:18px')
                span.edgtf-icon-shortcode.normal(style='margin: 0 35px 0 0', data-hover-color='#fb3644', data-color='#ffffff')
                    a(href="javascript:;", target='_blank')
                        i.edgtf-icon-font-awesome.fa.fa-qq.edgtf-icon-element(style='color: #ffffff;font-size:18px')
                span.edgtf-icon-shortcode.normal(style='margin: 0 35px 0 0', data-hover-color='#fb3644', data-color='#ffffff')
                    a(href="javascript:;", target='_blank')
                        i.edgtf-icon-font-awesome.fa.fa-renren.edgtf-icon-element(style='color: #ffffff;font-size:18px')
                span.edgtf-icon-shortcode.normal(style='margin: 0 35px 0 0', data-hover-color='#fb3644', data-color='#ffffff')
                    a(href="javascript:;", target='_blank')
                        i.edgtf-icon-font-awesome.fa.fa-weibo.edgtf-icon-element(style='color: #ffffff;font-size:18px')
                span.edgtf-icon-shortcode.normal(style='margin: 0 0px 0 0', data-hover-color='#fb3644', data-color='#ffffff')
                    a(href="javascript:;", target='_blank')
                        i.edgtf-icon-font-awesome.fa.fa-pinterest.edgtf-icon-element(style='color: #ffffff;font-size:18px')
    .edgtf-wrapper
        .edgtf-wrapper-inner
            .edgtf-fullscreen-search-holder
                .edgtf-fullscreen-search-close-container
                    .edgtf-search-close-holder
                        a.edgtf-fullscreen-search-close(href='javascript:void(0)')
                            span.close
                                span.lines
                                    span.line-1
                                    span.line-2
                .edgtf-fullscreen-search-table
                    .edgtf-fullscreen-search-cell
                        .edgtf-fullscreen-search-inner
                            form.edgtf-fullscreen-search-form(action='http://demo.va666.com/quadric/', method='get')
                                .edgtf-form-holder
                                    .edgtf-field-holder
                                        .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-left.edgtf-zig-zag-separator-medium.edgtf-zig-zag-separator-on(data-svg-drawing='no', data-svg-frames='40')
                                            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='14', width='68', viewBox='0 0 69.172 14.975', xml:space='preserve')
                                                path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                                                29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                                        input.edgtf-search-field(type='text', name='s', placeholder='搜索', autocomplete='off')
                                        input.edgtf-search-submit(type='submit', value='')
                                        .edgtf-line
            include lib/head
            a#edgtf-back-to-top(href='#')
                span.edgtf-icon-stack
                    span.edgtf-icon-font-elegant.arrow_carrot-up(aria-hidden='true')
                span.edgtf-back-to-top-icon-hover
                    span.edgtf-icon-font-elegant.arrow_carrot-up(aria-hidden='true')
            .edgtf-content
                .edgtf-content-inner
                    .edgtf-title.edgtf-standard-type.edgtf-content-left-alignment.edgtf-title-small-text-size.edgtf-animation-no(style='height:125px;', data-height='125')
                        .edgtf-title-image
                        .edgtf-title-holder(style='height:125px;')
                            .edgtf-container.clearfix
                                .edgtf-container-inner
                                    .edgtf-title-subtitle-holder(style='')
                                        .edgtf-title-subtitle-holder-inner
                                            h1
                                                span Sketches
                                            .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-left.edgtf-zig-zag-separator-medium.edgtf-zig-zag-separator-on(data-svg-drawing='no', data-svg-frames='40', style='margin-top: 7px;margin-bottom: 0px')
                                                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='14', width='68', viewBox='0 0 69.172 14.975', xml:space='preserve')
                                                    path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                                                    29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                                            .edgtf-breadcrumbs-holder
                                                .edgtf-breadcrumbs
                                                    .edgtf-breadcrumbs-inner
                                                        a(href='../../index.htm') Maker
                                                        span.edgtf-delimiter  / 
                                                        span.edgtf-current Sketches
                    .edgtf-container
                        .edgtf-container-inner.clearfix
                            .big-slider.edgtf-portfolio-single-holder
                                .edgtf-big-image-holder
                                    .edgtf-big-image-corner
                                        a#edgtf-like-3328.edgtf-like(href='#', title='点赞')
                                            i.icon-heart
                                            span 0
                                    .edgtf-portfolio-media.edgtf-owl-slider
                                        .edgtf-portfolio-single-media
                                            a(title='p-gallery-3-shop', data-rel='prettyPhoto[single_pretty_photo]', href='/public/images/uploads/p-gallery-3-shop.jpg')
                                                img(src='/public/images/uploads/p-gallery-3-shop.jpg', alt='f')
                                        .edgtf-portfolio-single-media
                                            a(title='p-gallery-2-shop', data-rel='prettyPhoto[single_pretty_photo]', href='/public/images/uploads/p-gallery-2-shop.jpg')
                                                img(src='/public/images/uploads/p-gallery-2-shop.jpg', alt='f')
                                        .edgtf-portfolio-single-media
                                            a(title='p-gallery-1-shop', data-rel='prettyPhoto[single_pretty_photo]', href='/public/images/uploads/p-gallery-1-shop.jpg')
                                                img(src='/public/images/uploads/p-gallery-1-shop.jpg', alt='f')
                                .edgtf-two-columns-66-33.clearfix
                                    .edgtf-column1
                                        .edgtf-column-inner
                                            .edgtf-portfolio-info-content-item
                                                h2 Sketches
                                                .edgtf-portfolio-content
                                                    .vc_row.wpb_row.vc_row-fluid.edgtf-section.edgtf-content-aligment-left(style='')
                                                        .clearfix.edgtf-full-section-inner
                                                            .wpb_column.vc_column_container.vc_col-sm-12
                                                                .vc_column-inner
                                                                    .wpb_wrapper
                                                                        .wpb_text_column.wpb_content_element
                                                                            .wpb_wrapper
                                                                                p
                                                                                    strong
                                                                                        | Lorem ipsum dolor sit amet, perfecto platonem suavitate per ea, urbanitas comprehensam
                                                                                        | signiferumque ad est. Eu vituperata reprimique has, cum meliore ceteros singulis an. Duo ex velit
                                                                                        | scaevola comprehensam.
                                                                                    |  Nulla nonumy nonumes at eum. 
                                                                                    span(style='color: #ff5f61;')
                                                                                        | Duo
                                                                                        | quod signiferumque ei.Has iuvaret facilis scribentur cu.
                                                                                    | Oratio nostro ne qui, aeque
                                                                                    | 																					laboramus eu vim. Ea his veri aliquid, ad probo ridens repudiandae mel. Vel veniam ridens eu, ne
                                                                                    | 																					choro evertitur qui. Vel congue debitis referrentur ut.Enim perpetua id vix. it duis salutatus an.
                                                                                    | 																					Vim movet vocent euismod id, quo an idque electram. Sed ea eros ferrium eu postea ponderum.
                                                                                    | 																					Laoreet admodum id mel, legere vulputate incorrupte quo in.
                                    .edgtf-column2
                                        .edgtf-column-inner
                                            .edgtf-portfolio-info-holder
                                                .edgtf-portfolio-info-item.edgtf-portfolio-custom-field
                                                    span.edgtf-portfolio-info-title
                                                        i.icon-badge
                                                        | Client
                                                    p
                                                        | Twister
                                                .edgtf-portfolio-info-item.edgtf-portfolio-date
                                                    span.edgtf-portfolio-info-title
                                                        i.icon-calender
                                                        | 日期
                                                    p 2015年10月20日
                                                .edgtf-portfolio-info-item.edgtf-portfolio-categories
                                                    span.edgtf-portfolio-info-title
                                                        i.icon-list
                                                        | 分类
                                                    p
                                                        | Lookbook
                                                .edgtf-portfolio-info-item.edgtf-portfolio-tags
                                                    span.edgtf-portfolio-info-title
                                                        i.icon-tag
                                                        | 标签
                                                    p
                                                        | Design
                                .edgtf-portfolio-single-nav
                                    .edgtf-portfolio-prev
                                        a(href='javascript:;', rel='prev')
                                            span.arrow_carrot-left.edgtf-navigation-icon
                                            span.edgtf-portfolio-prev-next-text 上一个
                                    .edgtf-portfolio-back-btn
                                        a(href='javascript:;')
                                            span.icon-grid
                                    .edgtf-portfolio-next
                                        a(href='javascript:;', rel='next')
                                            span.edgtf-portfolio-prev-next-text 下一个
                                            span.arrow_carrot-right.edgtf-navigation-icon
                                .edgtf-portfolio-related-holder
                                    h5 相关作品
                                    .edgtf-portfolio-related.clearfix
                                        article.edgtf-portfolio-related-item
                                            .edgtf-portfolio-item-inner-holder
                                                .edgtf-item-image-holder
                                                    a.edgtf-portfolio-link(href='javascript:;')
                                                        img.attachment-portfolio-landscape.size-portfolio-landscape.wp-post-image(width='800', height='600', src='/public/images/uploads/p-img-typography-tales-masonry-800x600.jpg', alt='d')
                                                .edgtf-item-text-overlay
                                                    .edgtf-item-text-overlay-inner
                                                        .edgtf-item-text-holder
                                                            a.edgtf-item-title(href='javascript:;')
                                                                | Typography Tales
                                        article.edgtf-portfolio-related-item
                                            .edgtf-portfolio-item-inner-holder
                                                .edgtf-item-image-holder
                                                    a.edgtf-portfolio-link(href='javascript:;')
                                                        img.attachment-portfolio-landscape.size-portfolio-landscape.wp-post-image(width='800', height='600', src='/public/images/uploads/p-img-typography-tales-masonry-800x600.jpg', alt='d')
                                                .edgtf-item-text-overlay
                                                    .edgtf-item-text-overlay-inner
                                                        .edgtf-item-text-holder
                                                            a.edgtf-item-title(href='javascript:;')
                                                                | Typography Tales
                                        article.edgtf-portfolio-related-item
                                            .edgtf-portfolio-item-inner-holder
                                                .edgtf-item-image-holder
                                                    a.edgtf-portfolio-link(href='javascript:;')
                                                        img.attachment-portfolio-landscape.size-portfolio-landscape.wp-post-image(width='800', height='600', src='/public/images/uploads/p-img-workplace-setup-light-800x600.jpg', alt='g')
                                                .edgtf-item-text-overlay
                                                    .edgtf-item-text-overlay-inner
                                                        .edgtf-item-text-holder
                                                            a.edgtf-item-title(href='javascript:;')
                                                                | Workplace Setup
    include lib/footer
block script
    script.