extends layout

block vars
    - let title = 'QUADRIC'

block content
    section.edgtf-side-menu.right
        .edgtf-close-side-menu-holder
            .edgtf-close-side-menu-holder-inner
                a.edgtf-close-side-menu(href="javascript:;", target='_self')
                    span.icon_close(aria-hidden='true')
        #text-7.widget.edgtf-sidearea.widget_text
            .textwidget
                .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 59px;margin-bottom: 0px')
                    .edgtf-separator
                a(href="javascript:;")
                    img(src='/public/images/uploads/quadric-side-area.png', alt='logo')
                .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-center.edgtf-zig-zag-separator-medium.edgtf-zig-zag-separator-on(data-svg-drawing='no', data-svg-frames='40', style='margin-top: 29px;margin-bottom: 55px')
                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='14', width='68', viewBox='0 0 69.172 14.975', xml:space='preserve')
                        path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                        29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
        #text-8.widget.edgtf-sidearea.widget_text
            .textwidget
                .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 44px;margin-bottom: 0px')
                    .edgtf-separator
                h4
                    span(style='color: #7f7f7f;') Explore our favorite Quadric pages and layouts, and find the right fit for you.
                .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 20px;margin-bottom: 0px')
                    .edgtf-separator
                span.edgtf-icon-shortcode.normal(style='margin: 0 35px 0 0', data-hover-color='#fb3644', data-color='#ffffff')
                    a(href="javascript:;")
                        i.edgtf-icon-font-awesome.fa.fa-weixin.edgtf-icon-element(style='color: #ffffff;font-size:18px')
                span.edgtf-icon-shortcode.normal(style='margin: 0 35px 0 0', data-hover-color='#fb3644', data-color='#ffffff')
                    a(href="javascript:;")
                        i.edgtf-icon-font-awesome.fa.fa-qq.edgtf-icon-element(style='color: #ffffff;font-size:18px')
                span.edgtf-icon-shortcode.normal(style='margin: 0 35px 0 0', data-hover-color='#fb3644', data-color='#ffffff')
                    a(href="javascript:;")
                        i.edgtf-icon-font-awesome.fa.fa-renren.edgtf-icon-element(style='color: #ffffff;font-size:18px')
                span.edgtf-icon-shortcode.normal(style='margin: 0 35px 0 0', data-hover-color='#fb3644', data-color='#ffffff')
                    a(href="javascript:;")
                        i.edgtf-icon-font-awesome.fa.fa-weibo.edgtf-icon-element(style='color: #ffffff;font-size:18px')
                span.edgtf-icon-shortcode.normal(style='margin: 0 0px 0 0', data-hover-color='#fb3644', data-color='#ffffff')
                    a(href="javascript:;")
                        i.edgtf-icon-font-awesome.fa.fa-pinterest.edgtf-icon-element(style='color: #ffffff;font-size:18px')
    .edgtf-wrapper
        .edgtf-wrapper-inner
            .edgtf-fullscreen-search-holder
                .edgtf-fullscreen-search-close-container
                    .edgtf-search-close-holder
                        a.edgtf-fullscreen-search-close(href='javascript:void(0)')
                            span.close
                                span.lines
                                    span.line-1
                                    span.line-2
                .edgtf-fullscreen-search-table
                    .edgtf-fullscreen-search-cell
                        .edgtf-fullscreen-search-inner
                            form.edgtf-fullscreen-search-form(action='http://demo.va666.com/quadric/', method='get')
                                .edgtf-form-holder
                                    .edgtf-field-holder
                                        .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-left.edgtf-zig-zag-separator-medium.edgtf-zig-zag-separator-on(data-svg-drawing='no', data-svg-frames='40')
                                            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='14', width='68', viewBox='0 0 69.172 14.975', xml:space='preserve')
                                                path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                                                29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                                        input.edgtf-search-field(type='text', name='s', placeholder='搜索', autocomplete='off')
                                        input.edgtf-search-submit(type='submit', value='')
                                        .edgtf-line
            include lib/head
            a#edgtf-back-to-top(href="javascript:;")
                span.edgtf-icon-stack
                    span.edgtf-icon-font-elegant.arrow_carrot-up(aria-hidden='true')
                span.edgtf-back-to-top-icon-hover
                    span.edgtf-icon-font-elegant.arrow_carrot-up(aria-hidden='true')
            .edgtf-content(style='margin-top: -60px')
                .edgtf-content-inner
                    .edgtf-title.edgtf-standard-type.edgtf-preload-background.edgtf-has-background.edgtf-has-parallax-background.edgtf-content-center-alignment.edgtf-title-small-text-size.edgtf-animation-no.edgtf-title-image-not-responsive(style='height:475px;background-image:url(http://demo.va666.com/quadric/wp-content/uploads/2015/10/who-we-are-title.jpg);', data-height='475', data-background-width='"1920"')
                        .edgtf-title-image
                            img(src='/public/images/uploads/who-we-are-title.jpg', alt=' ')
                        .edgtf-title-holder(style='height:415px;padding-top: 60px;')
                            .edgtf-container.clearfix
                                .edgtf-container-inner
                                    .edgtf-title-subtitle-holder(style='')
                                        .edgtf-title-subtitle-holder-inner
                                            h1(style='color:#ffffff;')
                                                span Who We Are
                                            .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-center.edgtf-zig-zag-separator-medium.edgtf-zig-zag-separator-on(data-svg-drawing='no', data-svg-frames='40', style='margin-top: 18px;margin-bottom: 19px')
                                                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='14', width='68', viewBox='0 0 69.172 14.975', xml:space='preserve')
                                                    path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                                                    29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                                            span.edgtf-subtitle
                                                span The Best Wordpress Theme for Website Building
                    .edgtf-full-width
                        .edgtf-full-width-inner
                            .vc_row.wpb_row.vc_row-fluid.edgtf-section.vc_custom_1445246134288.edgtf-content-aligment-center.edgtf-grid-section(style='')
                                .clearfix.edgtf-section-inner
                                    .edgtf-section-inner-margin.clearfix
                                        .wpb_column.vc_column_container.vc_col-sm-12
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            h2 CHECK OUT OUR WORK
                                                    .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-center.edgtf-zig-zag-separator-small(data-svg-drawing='yes', data-svg-frames='40', style='margin-top: 18px;margin-bottom: 19px')
                                                        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='12', width='57', viewBox='0 0 69.172 14.975', xml:space='preserve')
                                                            path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                                                            29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            h4
                                                                | Let clients and customers know about all the 
                                                                strong amazing services
                                                                |  you provide. Style
                                                                | 																the look of the text and icons in your services sections using the powerful Edge Options. If you don’t
                                                                | 																want to use global settings, you can 
                                                                strong style each element
                                                                |  separately.
                            .vc_row.wpb_row.vc_row-fluid.edgtf-section.vc_custom_1445330681051.edgtf-content-aligment-center.edgtf-grid-section(style='')
                                .clearfix.edgtf-section-inner
                                    .edgtf-section-inner-margin.clearfix
                                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-4.vc_col-md-4
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .wpb_single_image.wpb_content_element.vc_align_center
                                                        figure.wpb_wrapper.vc_figure
                                                            .vc_single_image-wrapper.vc_box_border_grey
                                                                img.vc_single_image-img.attachment-full(width='184', height='199', src='/public/images/uploads/img-1.png', alt='img-1')
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 32px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            h5 No Coding. All Fun
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 15px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            p
                                                                | Lorem ipsum dolor sit amet, mei ex appetere senserit consequuntur, integre consequat cu sit. Ullum
                                                                | iriure vim no. Offendit sententiae
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 50px;margin-bottom: 0px')
                                                        .edgtf-separator
                                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-4.vc_col-md-4
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 15px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_single_image.wpb_content_element.vc_align_center
                                                        figure.wpb_wrapper.vc_figure
                                                            .vc_single_image-wrapper.vc_box_border_grey
                                                                img.vc_single_image-img.attachment-full(width='231', height='166', src='/public/images/uploads/img-2.png', alt='a')
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 50px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            h5 Attention to Detail
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 15px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            p
                                                                | Lorem ipsum dolor sit amet, mei ex appetere senserit consequuntur, integre consequat cu sit. Ullum
                                                                | iriure vim no. Offendit sententiae
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 50px;margin-bottom: 0px')
                                                        .edgtf-separator
                                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-4.vc_col-md-4
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 7px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_single_image.wpb_content_element.vc_align_center
                                                        figure.wpb_wrapper.vc_figure
                                                            .vc_single_image-wrapper.vc_box_border_grey
                                                                img.vc_single_image-img.attachment-full(width='236', height='192', src='/public/images/uploads/img-3.png', alt='a')
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 32px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            h5 Creative Elements
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 15px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            p
                                                                | Lorem ipsum dolor sit amet, mei ex appetere senserit consequuntur, integre consequat cu sit. Ullum
                                                                | iriure vim no. Offendit sententiae
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 50px;margin-bottom: 0px')
                                                        .edgtf-separator
                            .vc_row.wpb_row.vc_row-fluid.edgtf-section.vc_custom_1444655530670.edgtf-content-aligment-left.edgtf-grid-section(style='')
                                .clearfix.edgtf-section-inner
                                    .edgtf-section-inner-margin.clearfix
                                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-6.vc_col-md-12
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 100px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            h2
                                                                span(style='color: #ffffff;') RESPONSIVE & RETINA
                                                    .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-left.edgtf-zig-zag-separator-small(data-svg-drawing='yes', data-svg-frames='40', style='margin-top: 18px;margin-bottom: 19px')
                                                        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='12', width='57', viewBox='0 0 69.172 14.975', xml:space='preserve')
                                                            path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                                                            29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            p
                                                                span(style='color: #ffffff;')
                                                                    | Lorem ipsum dolor sit amet, mei ex appetere senserit consequuntur,
                                                                    | integre consequat cu sit. Ullum iriure vim no. Offendit sententiae teum.One darn dismounted due hectic
                                                                    | yikes less unicorn dre.w crab acrimoniously affablebrough.romantically exotic much urchin hello. Lorem
                                                                    | ipsum dolor sit amet, mei ex appetere senserit consequuntur, integre consequat cu sit. Ullum iriure
                                                                    | vim nodue hectic yikes less unicorn drew crab acrimoniously affablebro ugh.romantically.
                                                    a.edgtf-btn.edgtf-btn-medium.edgtf-btn-solid.edgtf-btn-icon(href="javascript:;", target='_self', style='color: #ffffff;background-color: #fb3644;border-color: #fb3644;font-weight: 700;margin: 20px 0px 0px 0px')
                                                        span.edgtf-btn-text See more
                                                        span.edgtf-icon-font-elegant.arrow_carrot-2right.edgtf-button-icon-holder(aria-hidden='true')
                                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-6.vc_col-md-12
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 55px')
                                                        .edgtf-separator
                                                    .wpb_single_image.wpb_content_element.vc_align_center
                                                        figure.wpb_wrapper.vc_figure
                                                            .vc_single_image-wrapper.vc_box_border_grey
                                                                img.vc_single_image-img.attachment-full(width='521', height='479', src='/public/images/uploads/who-we-are-newest.png', alt='a', srcset='http://demo.va666.com/quadric/wp-content/uploads/2015/10/who-we-are-newest-300x276.png 300w, http://demo.va666.com/quadric/wp-content/uploads/2015/10/who-we-are-newest.png 521w', sizes='(max-width: 521px) 100vw, 521px')
                            .vc_row.wpb_row.vc_row-fluid.edgtf-section.vc_custom_1444991746608.edgtf-content-aligment-center(style='')
                                .clearfix.edgtf-full-section-inner
                                    .wpb_column.vc_column_container.vc_col-sm-12
                                        .vc_column-inner
                                            .wpb_wrapper
                                                .edgtf-carousel-holder.clearfix
                                                    .edgtf-carousel(data-items='7', data-navigation='no', data-bullets-navigation='no')
                                                        .edgtf-carousel-item-holder.edgtf-carousel-roll-over
                                                            span.edgtf-carousel-first-image-holder
                                                                img(src='/public/images/uploads/client-1.png', alt='1')
                                                            span.edgtf-carousel-second-image-holder
                                                                img(src='/public/images/uploads/client-1-h.png', alt='1')
                                                        .edgtf-carousel-item-holder.edgtf-carousel-roll-over
                                                            span.edgtf-carousel-first-image-holder
                                                                img(src='/public/images/uploads/client-5.png', alt='10')
                                                            span.edgtf-carousel-second-image-holder
                                                                img(src='/public/images/uploads/client-5-h.png', alt='10')
                                                        .edgtf-carousel-item-holder.edgtf-carousel-roll-over
                                                            span.edgtf-carousel-first-image-holder
                                                                img(src='/public/images/uploads/client-2.png', alt='2')
                                                            span.edgtf-carousel-second-image-holder
                                                                img(src='/public/images/uploads/client-2-h.png', alt='2')
                                                        .edgtf-carousel-item-holder.edgtf-carousel-roll-over
                                                            span.edgtf-carousel-first-image-holder
                                                                img(src='/public/images/uploads/client-3.png', alt='3')
                                                            span.edgtf-carousel-second-image-holder
                                                                img(src='/public/images/uploads/client-3-h.png', alt='3')
                                                        .edgtf-carousel-item-holder.edgtf-carousel-roll-over
                                                            span.edgtf-carousel-first-image-holder
                                                                img(src='/public/images/uploads/client-4.png', alt='4')
                                                            span.edgtf-carousel-second-image-holder
                                                                img(src='/public/images/uploads/client-4-h.png', alt='4')
                                                        .edgtf-carousel-item-holder.edgtf-carousel-roll-over
                                                            span.edgtf-carousel-first-image-holder
                                                                img(src='/public/images/uploads/client-5.png', alt='5')
                                                            span.edgtf-carousel-second-image-holder
                                                                img(src='/public/images/uploads/client-5-h.png', alt='5')
                                                        .edgtf-carousel-item-holder.edgtf-carousel-roll-over
                                                            span.edgtf-carousel-first-image-holder
                                                                img(src='/public/images/uploads/client-1.png', alt='6')
                                                            span.edgtf-carousel-second-image-holder
                                                                img(src='/public/images/uploads/client-1-h.png', alt='6')
                                                        .edgtf-carousel-item-holder.edgtf-carousel-roll-over
                                                            span.edgtf-carousel-first-image-holder
                                                                img(src='/public/images/uploads/client-2.png', alt='7')
                                                            span.edgtf-carousel-second-image-holder
                                                                img(src='/public/images/uploads/client-2-h.png', alt='7')
                                                        .edgtf-carousel-item-holder.edgtf-carousel-roll-over
                                                            span.edgtf-carousel-first-image-holder
                                                                img(src='/public/images/uploads/client-3.png', alt='8')
                                                            span.edgtf-carousel-second-image-holder
                                                                img(src='/public/images/uploads/client-3-h.png', alt='8')
                                                        .edgtf-carousel-item-holder.edgtf-carousel-roll-over
                                                            span.edgtf-carousel-first-image-holder
                                                                img(src='/public/images/uploads/client-4.png', alt='9')
                                                            span.edgtf-carousel-second-image-holder
                                                                img(src='/public/images/uploads/client-4-h.png', alt='9')
                            .vc_row.wpb_row.vc_row-fluid.edgtf-section.vc_custom_1444654834372.edgtf-content-aligment-center.edgtf-grid-section(style='')
                                .clearfix.edgtf-section-inner
                                    .edgtf-section-inner-margin.clearfix
                                        .wpb_column.vc_column_container.vc_col-sm-12
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            h2 CHECK OUT OUR WORK
                                                    .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-center.edgtf-zig-zag-separator-small(data-svg-drawing='yes', data-svg-frames='40', style='margin-top: 18px;margin-bottom: 19px')
                                                        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='12', width='57', viewBox='0 0 69.172 14.975', xml:space='preserve')
                                                            path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                                                            29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            h4
                                                                | Less yikes and dear outside hardheaded 
                                                                strong where less and far far much
                                                                |  yikes unanimous
                                                                | 																wore diabolic mistook this less some yet powerless jeepers where less and far far much yikes unanimous
                                                                | 																wore diabolic mistook this less some 
                                                                strong yet powerless
                            .vc_row.wpb_row.vc_row-fluid.edgtf-section.vc_custom_1445330749609.edgtf-content-aligment-center.edgtf-grid-section(style='')
                                .clearfix.edgtf-section-inner
                                    .edgtf-section-inner-margin.clearfix
                                        .wpb_column.vc_column_container.vc_col-sm-12
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .edgtf-zooming-slider-wrapper
                                                        .edgtf-zooming-slider
                                                            .edgtf-zooming-slider-slide(style='background-image:url(http://demo.va666.com/quadric/wp-content/uploads/2015/10/zooming-slider-1.jpg);background-size:cover;background-repeat:no-repeat')
                                                                .edgtf-zooming-slider-shader(style='background-color:#f0f0f0')
                                                                .edgtf-zooming-slider-slide-inner
                                                                    .edgtf-zooming-slider-icon-holder
                                                                        i.edgtf-icon-simple-line-icon.icon-disc(style='color:#ffffff')
                                                                    .wpb_text_column.wpb_content_element
                                                                        .wpb_wrapper
                                                                            h5
                                                                                span(style='color: #312f39;') Our Design
                                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 31px;margin-bottom: 0px')
                                                                        .edgtf-separator
                                                                    .wpb_text_column.wpb_content_element
                                                                        .wpb_wrapper
                                                                            p
                                                                                span(style='color: #787878;')
                                                                                    | Lorem ipsum dolor sit amet, mei ex appetere senserit consequuntur,
                                                                                    | integre consequat cu sit. Ullum iriure vim no. Offendit sententiae
                                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 15px;margin-bottom: 0px')
                                                                        .edgtf-separator
                                                                    a.edgtf-btn.edgtf-btn-medium.edgtf-btn-outline.edgtf-btn-icon(href="javascript:;", target='_self', style='font-weight: 700;margin: 20px 0px 0px 0px')
                                                                        span.edgtf-btn-text See more
                                                                        span.edgtf-icon-font-elegant.arrow_carrot-2right.edgtf-button-icon-holder(aria-hidden='true')
                                                            .edgtf-zooming-slider-slide(style='background-image:url(http://demo.va666.com/quadric/wp-content/uploads/2015/10/zooming-slider-2.jpg);background-size:cover;background-repeat:no-repeat')
                                                                .edgtf-zooming-slider-shader(style='background-color:#f0f0f0')
                                                                .edgtf-zooming-slider-slide-inner
                                                                    .edgtf-zooming-slider-icon-holder
                                                                        i.edgtf-icon-simple-line-icon.icon-vector(style='color:#ffffff')
                                                                    .wpb_text_column.wpb_content_element
                                                                        .wpb_wrapper
                                                                            h5
                                                                                span(style='color: #312f39;') Our Support
                                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 31px;margin-bottom: 0px')
                                                                        .edgtf-separator
                                                                    .wpb_text_column.wpb_content_element
                                                                        .wpb_wrapper
                                                                            p
                                                                                span(style='color: #787878;')
                                                                                    | Lorem ipsum dolor sit amet, mei ex appetere senserit consequuntur,
                                                                                    | integre consequat cu sit. Ullum iriure vim no. Offendit sententiae
                                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 15px;margin-bottom: 0px')
                                                                        .edgtf-separator
                                                                    a.edgtf-btn.edgtf-btn-medium.edgtf-btn-outline.edgtf-btn-icon(href="javascript:;", target='_self', style='font-weight: 700;margin: 20px 0px 0px 0px')
                                                                        span.edgtf-btn-text See more
                                                                        span.edgtf-icon-font-elegant.arrow_carrot-2right.edgtf-button-icon-holder(aria-hidden='true')
                                                            .edgtf-zooming-slider-slide(style='background-image:url(http://demo.va666.com/quadric/wp-content/uploads/2015/10/home-10-zooming-slider-3.jpg);background-size:cover;background-repeat:no-repeat')
                                                                .edgtf-zooming-slider-shader(style='background-color:#f0f0f0')
                                                                .edgtf-zooming-slider-slide-inner
                                                                    .edgtf-zooming-slider-icon-holder
                                                                        i.edgtf-icon-simple-line-icon.icon-settings(style='color:#ffffff')
                                                                    .wpb_text_column.wpb_content_element
                                                                        .wpb_wrapper
                                                                            h5
                                                                                span(style='color: #312f39;') Our Office
                                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 31px;margin-bottom: 0px')
                                                                        .edgtf-separator
                                                                    .wpb_text_column.wpb_content_element
                                                                        .wpb_wrapper
                                                                            p
                                                                                span(style='color: #787878;')
                                                                                    | Lorem ipsum dolor sit amet, mei ex appetere senserit consequuntur,
                                                                                    | integre consequat cu sit. Ullum iriure vim no. Offendit sententiae
                                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 15px;margin-bottom: 0px')
                                                                        .edgtf-separator
                                                                    a.edgtf-btn.edgtf-btn-medium.edgtf-btn-outline.edgtf-btn-icon(href="javascript:;", target='_self', style='font-weight: 700;margin: 20px 0px 0px 0px')
                                                                        span.edgtf-btn-text See more
                                                                        span.edgtf-icon-font-elegant.arrow_carrot-2right.edgtf-button-icon-holder(aria-hidden='true')
                                                        // close .icon-slider-container
                            .vc_row.wpb_row.vc_row-fluid.edgtf-section.vc_custom_1445246406896.edgtf-content-aligment-left.edgtf-grid-section(style='')
                                .clearfix.edgtf-section-inner
                                    .edgtf-section-inner-margin.clearfix
                                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-md-4
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .edgtf-iwt.clearfix.edgtf-iwt-left-from-title.edgtf-iwt-icon-tiny
                                                        .edgtf-iwt-content-holder
                                                            .edgtf-iwt-icon-title-holder
                                                                .edgtf-iwt-icon-holder
                                                                    span.edgtf-icon-shortcode.normal.edgtf-icon-tiny(data-hover-color='#fb3644', data-color='#333333')
                                                                        i.edgtf-icon-simple-line-icon.icon-badge.edgtf-icon-element(style='color: #333333')
                                                                .edgtf-iwt-title-holder
                                                                    h5 Easy Import
                                                            .edgtf-iwt-text-holder
                                                                p
                                                                    | The album is more experimental in nature than the band's later releases. It was released only
                                                                    | in Canada, Ei vim sale modus fuisset, sea putant
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 39px;margin-bottom: 0px')
                                                        .edgtf-separator
                                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-md-4
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .edgtf-iwt.clearfix.edgtf-iwt-left-from-title.edgtf-iwt-icon-tiny
                                                        .edgtf-iwt-content-holder
                                                            .edgtf-iwt-icon-title-holder
                                                                .edgtf-iwt-icon-holder
                                                                    span.edgtf-icon-shortcode.normal.edgtf-icon-tiny(data-hover-color='#fb3644', data-color='#333333')
                                                                        i.edgtf-icon-simple-line-icon.icon-crop.edgtf-icon-element(style='color: #333333')
                                                                .edgtf-iwt-title-holder
                                                                    h5 Retina Ready
                                                            .edgtf-iwt-text-holder
                                                                p
                                                                    | The album is more experimental in nature than the band's later releases. It was released only
                                                                    | in Canada, Ei vim sale modus fuisset, sea putant
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 39px;margin-bottom: 0px')
                                                        .edgtf-separator
                                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-md-4
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .edgtf-iwt.clearfix.edgtf-iwt-left-from-title.edgtf-iwt-icon-tiny
                                                        .edgtf-iwt-content-holder
                                                            .edgtf-iwt-icon-title-holder
                                                                .edgtf-iwt-icon-holder
                                                                    span.edgtf-icon-shortcode.normal.edgtf-icon-tiny(data-hover-color='#fb3644', data-color='#333333')
                                                                        i.edgtf-icon-simple-line-icon.icon-plane.edgtf-icon-element(style='color: #333333')
                                                                .edgtf-iwt-title-holder
                                                                    h5 Fast Support
                                                            .edgtf-iwt-text-holder
                                                                p
                                                                    | The album is more experimental in nature than the band's later releases. It was released only
                                                                    | in Canada, Ei vim sale modus fuisset, sea putant
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 39px;margin-bottom: 0px')
                                                        .edgtf-separator
                            .vc_row.wpb_row.vc_row-fluid.edgtf-section.vc_custom_1444226476613.edgtf-content-aligment-left.edgtf-grid-section(style='')
                                .clearfix.edgtf-section-inner
                                    .edgtf-section-inner-margin.clearfix
                                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-md-4
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .edgtf-iwt.clearfix.edgtf-iwt-left-from-title.edgtf-iwt-icon-tiny
                                                        .edgtf-iwt-content-holder
                                                            .edgtf-iwt-icon-title-holder
                                                                .edgtf-iwt-icon-holder
                                                                    span.edgtf-icon-shortcode.normal.edgtf-icon-tiny(data-hover-color='#fb3644', data-color='#333333')
                                                                        i.edgtf-icon-simple-line-icon.icon-cursor-move.edgtf-icon-element(style='color: #333333')
                                                                .edgtf-iwt-title-holder
                                                                    h5 Easy To Use
                                                            .edgtf-iwt-text-holder
                                                                p
                                                                    | The album is more experimental in nature than the band's later releases. It was released only
                                                                    | in Canada, Ei vim sale modus fuisset, sea putant
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 39px;margin-bottom: 0px')
                                                        .edgtf-separator
                                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-md-4
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .edgtf-iwt.clearfix.edgtf-iwt-left-from-title.edgtf-iwt-icon-tiny
                                                        .edgtf-iwt-content-holder
                                                            .edgtf-iwt-icon-title-holder
                                                                .edgtf-iwt-icon-holder
                                                                    span.edgtf-icon-shortcode.normal.edgtf-icon-tiny(data-hover-color='#fb3644', data-color='#333333')
                                                                        i.edgtf-icon-simple-line-icon.icon-screen-desktop.edgtf-icon-element(style='color: #333333')
                                                                .edgtf-iwt-title-holder
                                                                    h5 Loads of Layouts
                                                            .edgtf-iwt-text-holder
                                                                p
                                                                    | The album is more experimental in nature than the band's later releases. It was released only
                                                                    | in Canada, Ei vim sale modus fuisset, sea putant
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 39px;margin-bottom: 0px')
                                                        .edgtf-separator
                                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-md-4
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .edgtf-iwt.clearfix.edgtf-iwt-left-from-title.edgtf-iwt-icon-tiny
                                                        .edgtf-iwt-content-holder
                                                            .edgtf-iwt-icon-title-holder
                                                                .edgtf-iwt-icon-holder
                                                                    span.edgtf-icon-shortcode.normal.edgtf-icon-tiny(data-hover-color='#fb3644', data-color='#333333')
                                                                        i.edgtf-icon-simple-line-icon.icon-puzzle.edgtf-icon-element(style='color: #333333')
                                                                .edgtf-iwt-title-holder
                                                                    h5 Creative Elements
                                                            .edgtf-iwt-text-holder
                                                                p
                                                                    | The album is more experimental in nature than the band's later releases. It was released only
                                                                    | in Canada, Ei vim sale modus fuisset, sea putant
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 39px;margin-bottom: 0px')
                                                        .edgtf-separator
                            .vc_row.wpb_row.vc_row-fluid.edgtf-section.vc_custom_1444657841207.edgtf-content-aligment-left.edgtf-grid-section(style='')
                                .clearfix.edgtf-section-inner
                                    .edgtf-section-inner-margin.clearfix
                                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-4.vc_col-md-4
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .edgtf-team.main-info-on-hover
                                                        .edgtf-team-inner
                                                            .edgtf-team-image
                                                                img(src='/public/images/uploads/team-1.jpg', alt='team-image')
                                                                .edgtf-team-social-holder
                                                                    .edgtf-team-social
                                                                        .edgtf-team-social-inner
                                                                            .edgtf-team-social-wrapp
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_facebook.edgtf-icon-element(aria-hidden='true')
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_twitter.edgtf-icon-element(aria-hidden='true')
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_tumblr.edgtf-icon-element(aria-hidden='true')
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_linkedin.edgtf-icon-element(aria-hidden='true')
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 22px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            h3 Rachel Evans
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 14px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            p
                                                                | Lorem ipsum dolor sit amet, perfecto platonem suavitate per ea, urbanitas comprehensam signiferumque
                                                                | ad est. Eu vituperata reprimique.
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 47px;margin-bottom: 0px')
                                                        .edgtf-separator
                                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-4.vc_col-md-4
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .edgtf-team.main-info-on-hover
                                                        .edgtf-team-inner
                                                            .edgtf-team-image
                                                                img(src='/public/images/uploads/team-2.jpg', alt='team-image')
                                                                .edgtf-team-social-holder
                                                                    .edgtf-team-social
                                                                        .edgtf-team-social-inner
                                                                            .edgtf-team-social-wrapp
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_facebook.edgtf-icon-element(aria-hidden='true')
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_twitter.edgtf-icon-element(aria-hidden='true')
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_tumblr.edgtf-icon-element(aria-hidden='true')
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_linkedin.edgtf-icon-element(aria-hidden='true')
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 22px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            h3 Tom Stevens
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 14px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            p
                                                                | Lorem ipsum dolor sit amet, perfecto platonem suavitate per ea, urbanitas comprehensam signiferumque
                                                                | ad est. Eu vituperata reprimique.
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 47px;margin-bottom: 0px')
                                                        .edgtf-separator
                                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-4.vc_col-md-4
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .edgtf-team.main-info-on-hover
                                                        .edgtf-team-inner
                                                            .edgtf-team-image
                                                                img(src='/public/images/uploads/team-3.jpg', alt='team-image')
                                                                .edgtf-team-social-holder
                                                                    .edgtf-team-social
                                                                        .edgtf-team-social-inner
                                                                            .edgtf-team-social-wrapp
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_facebook.edgtf-icon-element(aria-hidden='true')
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_twitter.edgtf-icon-element(aria-hidden='true')
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_tumblr.edgtf-icon-element(aria-hidden='true')
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_linkedin.edgtf-icon-element(aria-hidden='true')
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 22px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            h3 Martha Smith
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 14px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            p
                                                                | Lorem ipsum dolor sit amet, perfecto platonem suavitate per ea, urbanitas comprehensam signiferumque
                                                                | ad est. Eu vituperata reprimique.
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 47px;margin-bottom: 0px')
                                                        .edgtf-separator
                            .vc_row.wpb_row.vc_row-fluid.edgtf-section.vc_custom_1445330818163.edgtf-content-aligment-left.edgtf-grid-section(style='')
                                .clearfix.edgtf-section-inner
                                    .edgtf-section-inner-margin.clearfix
                                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-4.vc_col-md-4
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .edgtf-team.main-info-on-hover
                                                        .edgtf-team-inner
                                                            .edgtf-team-image
                                                                img(src='/public/images/uploads/team-4.jpg', alt='team-image')
                                                                .edgtf-team-social-holder
                                                                    .edgtf-team-social
                                                                        .edgtf-team-social-inner
                                                                            .edgtf-team-social-wrapp
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_facebook.edgtf-icon-element(aria-hidden='true')
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_twitter.edgtf-icon-element(aria-hidden='true')
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_tumblr.edgtf-icon-element(aria-hidden='true')
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_linkedin.edgtf-icon-element(aria-hidden='true')
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 22px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            h3 Michael Bale
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 14px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            p
                                                                | Lorem ipsum dolor sit amet, perfecto platonem suavitate per ea, urbanitas comprehensam signiferumque
                                                                | ad est. Eu vituperata reprimique.
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 47px;margin-bottom: 0px')
                                                        .edgtf-separator
                                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-4.vc_col-md-4
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .edgtf-team.main-info-on-hover
                                                        .edgtf-team-inner
                                                            .edgtf-team-image
                                                                img(src='/public/images/uploads/team-5.jpg', alt='team-image')
                                                                .edgtf-team-social-holder
                                                                    .edgtf-team-social
                                                                        .edgtf-team-social-inner
                                                                            .edgtf-team-social-wrapp
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_facebook.edgtf-icon-element(aria-hidden='true')
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_twitter.edgtf-icon-element(aria-hidden='true')
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_tumblr.edgtf-icon-element(aria-hidden='true')
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_linkedin.edgtf-icon-element(aria-hidden='true')
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 22px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            h3 Jenny Lorens
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 14px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            p
                                                                | Lorem ipsum dolor sit amet, perfecto platonem suavitate per ea, urbanitas comprehensam signiferumque
                                                                | ad est. Eu vituperata reprimique.
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 47px;margin-bottom: 0px')
                                                        .edgtf-separator
                                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-4.vc_col-md-4
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .edgtf-team.main-info-on-hover
                                                        .edgtf-team-inner
                                                            .edgtf-team-image
                                                                img(src='/public/images/uploads/team-6.jpg', alt='team-image')
                                                                .edgtf-team-social-holder
                                                                    .edgtf-team-social
                                                                        .edgtf-team-social-inner
                                                                            .edgtf-team-social-wrapp
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_facebook.edgtf-icon-element(aria-hidden='true')
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_twitter.edgtf-icon-element(aria-hidden='true')
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_tumblr.edgtf-icon-element(aria-hidden='true')
                                                                                span.edgtf-icon-shortcode.square
                                                                                    a(href="javascript:;")
                                                                                        span.edgtf-icon-font-elegant.social_linkedin.edgtf-icon-element(aria-hidden='true')
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 22px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            h3 Sarah Carson
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 14px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            p
                                                                | Lorem ipsum dolor sit amet, perfecto platonem suavitate per ea, urbanitas comprehensam signiferumque
                                                                | ad est. Eu vituperata reprimique.
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 47px;margin-bottom: 0px')
                                                        .edgtf-separator
                            .vc_row.wpb_row.vc_row-fluid.edgtf-section.vc_custom_1444652713563.edgtf-content-aligment-left.edgtf-grid-section(style='')
                                .clearfix.edgtf-section-inner
                                    .edgtf-section-inner-margin.clearfix
                                        .wpb_column.vc_column_container.vc_col-sm-8
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 7px;margin-bottom: 0px')
                                                        .edgtf-separator
                                                    .wpb_text_column.wpb_content_element
                                                        .wpb_wrapper
                                                            h4
                                                                span(style='color: #868586;')
                                                                    | Be accesible and always stay in touch with your website’s
                                                                    | visitors
                                        .wpb_column.vc_column_container.vc_col-sm-4
                                            .vc_column-inner
                                                .wpb_wrapper [contact-form-7 404 "Not Found"]
                            .vc_row.wpb_row.vc_row-fluid.edgtf-section.edgtf-content-aligment-center.edgtf-parallax-section-holder.edgtf-parallax-section-holder-touch-disabled(data-edgtf-parallax-speed='1', style='background-image:url(http://demo.va666.com/quadric/wp-content/uploads/2015/10/creative-services-bottom.jpg);min-height:200px;height:auto;')
                                .clearfix.edgtf-full-section-inner
                                    .wpb_column.vc_column_container.vc_col-sm-12
                                        .vc_column-inner
                                            .wpb_wrapper
                                                .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 120px;margin-bottom: 0px')
                                                    .edgtf-separator
                                                .edgtf-custom-font-holder(style='font-family: raleway;font-size: 40px;line-height: 51px;font-weight: 700;letter-spacing: 0.8px;text-align: center;color: #ffffff', data-font-size='40', data-line-height='51')
                                                    | READY TO PLAY WITH QUADRIC?
                                                .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 13px;margin-bottom: 0px')
                                                    .edgtf-separator
                                                .wpb_text_column.wpb_content_element
                                                    .wpb_wrapper
                                                        h4
                                                            span(style='color: #ffffff;') Parallax makes everything smoother. Make your website come to life.
                                                .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 27px;margin-bottom: 0px')
                                                    .edgtf-separator
                                                a.edgtf-btn.edgtf-btn-medium.edgtf-btn-solid.edgtf-btn-icon(href="javascript:;", target='_self', style='color: #ffffff;background-color: #fb3644;border-color: #fb3644;margin: 0 21px 20px 0 ')
                                                    span.edgtf-btn-text BUY NOW
                                                    span.edgtf-icon-font-elegant.arrow_carrot-2right.edgtf-button-icon-holder(aria-hidden='true')
                                                a.edgtf-btn.edgtf-btn-medium.edgtf-btn-outline-white.edgtf-btn-icon(href="javascript:;", target='_self', style='margin: 0 21px 0px 0px')
                                                    span.edgtf-btn-text RATE US
                                                    span.edgtf-icon-font-elegant.icon_star_alt.edgtf-button-icon-holder(aria-hidden='true')
                                                .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 90px;margin-bottom: 0px')
                                                    .edgtf-separator
    include lib/footer


block script
    script.
        var edgtfQuadricGlobalVars = { 
            "vars": { 
                "edgtfAddForAdminBar": 0, 
                "edgtfElementAppearAmount": -150, 
                "edgtfFinishedMessage": "\u6ca1\u6709\u66f4\u591a\u5185\u5bb9", 
                "edgtfMessage": "\u52a0\u8f7d\u65b0\u6587\u7ae0...", 
                "edgtfTopBarHeight": 0, 
                "edgtfStickyHeaderHeight": 0, 
                "edgtfStickyHeaderTransparencyHeight": 60, 
                "edgtfLogoAreaHeight": 0, 
                "edgtfMenuAreaHeight": 60, 
                "edgtfMobileHeaderHeight": 100 
                } 
        };
