.vc_row.wpb_row.vc_row-fluid.edgtf-section.edgtf-content-aligment-left(style='')
    .clearfix.edgtf-full-section-inner
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    .edgtf-elements-holder.edgtf-three-columns.edgtf-responsive-mode-768
                        .edgtf-elements-holder-item.edgtf-horizontal-alignment-center.edgtf-elements-holder-custom-203694(style='background-image: url(/public/images/uploads/main-home-background-1.jpg)')
                            .edgtf-elements-holder-item-inner
                                .edgtf-elements-holder-item-content(style='padding: 0 17%')
                                    .vc_row.wpb_row.vc_inner.vc_row-fluid.edgtf-section.edgtf-content-aligment-left(style='')
                                        .edgtf-full-section-inner
                                            .wpb_column.vc_column_container.vc_col-sm-6
                                                .vc_column-inner
                                                    .wpb_wrapper
                                                        .edgtf-counter-holder.center(style='padding-bottom: 10px')
                                                            span.edgtf-counter.random(style='font-size: 50px;color: #ffffff')
                                                                | 135
                                                            p.edgtf-counter-title(style='color: #ffffff')
                                                                | Followers
                                            .wpb_column.vc_column_container.vc_col-sm-6
                                                .vc_column-inner
                                                    .wpb_wrapper
                                                        .edgtf-counter-holder.center(style='padding-bottom: 10px')
                                                            span.edgtf-counter.random(style='font-size: 50px;color: #ffffff')
                                                                | 918
                                                            p.edgtf-counter-title(style='color: #ffffff')
                                                                | Likes
                                    .vc_row.wpb_row.vc_inner.vc_row-fluid.edgtf-section.edgtf-content-aligment-left(style='')
                                        .edgtf-full-section-inner
                                            .wpb_column.vc_column_container.vc_col-sm-6
                                                .vc_column-inner
                                                    .wpb_wrapper
                                                        .edgtf-counter-holder.center(style='padding-bottom: 10px')
                                                            span.edgtf-counter.random(style='font-size: 50px;color: #ffffff')
                                                                | 320
                                                            p.edgtf-counter-title(style='color: #ffffff')
                                                                | Users
                                            .wpb_column.vc_column_container.vc_col-sm-6
                                                .vc_column-inner
                                                    .wpb_wrapper
                                                        .edgtf-counter-holder.center(style='padding-bottom: 10px')
                                                            span.edgtf-counter.random(style='font-size: 50px;color: #ffffff')
                                                                | 756
                                                            p.edgtf-counter-title(style='color: #ffffff')
                                                                | Shares
                        .edgtf-elements-holder-item.edgtf-horizontal-alignment-center.edgtf-elements-holder-custom-785601(style='background-image: url(/public/images/uploads/main-home-background-2-1.jpg)')
                            .edgtf-elements-holder-item-inner
                                .edgtf-elements-holder-item-content(style='padding: 8.8% 15.5% 6%')
                                    .edgtf-testimonials-holder.clearfix.without-quote
                                        .edgtf-testimonials.light
                                            #edgtf-testimonials543.edgtf-testimonial-content
                                                .edgtf-testimonial-image-holder
                                                    img.attachment-543.size-543.wp-post-image(width='132', height='132', src='/public/images/uploads/main-testimonials-author-3.png', alt='a')
                                                .edgtf-testimonial-content-inner
                                                    .edgtf-testimonial-text-holder
                                                        .edgtf-testimonial-text-inner
                                                            p.edgtf-testimonial-text
                                                                | 花香如云烟般，弥漫在 空中.漫山遍野，朵朵樱红，开得如此炫烂，可谁都知，开得越灿烂，离落樱凋谢时越近。花开时如云霞般遮满花枝
                                                                | ，把最盛况的美艳，尽情绽放，开尽。
                                                            .edgtf-testimonial-author
                                                                p.edgtf-testimonial-author-text
                                                                    | 创客云 
                                                                    span.edgtf-testimonials-job  - Maker
                                            #edgtf-testimonials541.edgtf-testimonial-content
                                                .edgtf-testimonial-image-holder
                                                    img.attachment-541.size-541.wp-post-image(width='132', height='132', src='/public/images/uploads/main-testimonials-author-2.png', alt='a')
                                                .edgtf-testimonial-content-inner
                                                    .edgtf-testimonial-text-holder
                                                        .edgtf-testimonial-text-inner
                                                            p.edgtf-testimonial-text 张开娇婉，薄如蝉翼的粉翅，如蝶般翩跹。也早已落在心灵的深处。竟是那样的眷恋，一季季尘世间的美。依依不舍，久久不愿离开，却又不得不去，为下一个季节更迭而去等待。
                                                            .edgtf-testimonial-author
                                                                p.edgtf-testimonial-author-text
                                                                    | An Wang 
                                                                    span.edgtf-testimonials-job
                                                                        | - Founder
                                                                        | at Wang Lab
                                            #edgtf-testimonials540.edgtf-testimonial-content
                                                .edgtf-testimonial-image-holder
                                                    img.attachment-540.size-540.wp-post-image(width='132', height='132', src='/public/images/uploads/our-team21-1.jpg', alt='our-team21')
                                                .edgtf-testimonial-content-inner
                                                    .edgtf-testimonial-text-holder
                                                        .edgtf-testimonial-text-inner
                                                            p.edgtf-testimonial-text 霞光映漫天，花开正缤纷。正是赏樱好时节。阳光明艳，花海如潮。在这一行行，一排排的的花树间，是谁的歌声，一直回荡在耳畔？
                                                            .edgtf-testimonial-author
                                                                p.edgtf-testimonial-author-text
                                                                    | Steve Jobs 
                                                                    span.edgtf-testimonials-job
                                                                        | -
                                                                        | Innovator at Apple
                        .edgtf-elements-holder-item.edgtf-horizontal-alignment-center.edgtf-elements-holder-custom-148646(style='background-image: url(/public/images/uploads/main-home-background-3-1.jpg)')
                            .edgtf-elements-holder-item-inner
                                .edgtf-elements-holder-item-content(style='padding: 0 7%')
                                    .edgtf-clients.clearfix.edgtf-clients-three-columns
                                        .edgtf-client-holder.edgtf-clients-roll-over
                                            .edgtf-client-holder-inner
                                                .edgtf-client-image-holder
                                                    a(href='javascript: void(0)', target='_self')
                                                        span.edgtf-client-image
                                                            img(src='/public/images/uploads/client-white-1.png', alt='')
                                                        span.edgtf-client-hover-image
                                                            img(src='/public/images/uploads/client-white-1h.png', alt='')
                                        .edgtf-client-holder.edgtf-clients-roll-over
                                            .edgtf-client-holder-inner
                                                .edgtf-client-image-holder
                                                    a(href='javascript: void(0)', target='_self')
                                                        span.edgtf-client-image
                                                            img(src='/public/images/uploads/client-white-2.png', alt='')
                                                        span.edgtf-client-hover-image
                                                            img(src='/public/images/uploads/client-white-2h.png', alt='')
                                        .edgtf-client-holder.edgtf-clients-roll-over
                                            .edgtf-client-holder-inner
                                                .edgtf-client-image-holder
                                                    a(href='javascript: void(0)', target='_self')
                                                        span.edgtf-client-image
                                                            img(src='/public/images/uploads/client-white-3.png', alt='')
                                                        span.edgtf-client-hover-image
                                                            img(src='/public/images/uploads/client-white-3h.png', alt='')
                                        .edgtf-client-holder.edgtf-clients-roll-over
                                            .edgtf-client-holder-inner
                                                .edgtf-client-image-holder
                                                    a(href='javascript: void(0)', target='_self')
                                                        span.edgtf-client-image
                                                            img(src='/public/images/uploads/client-white-4.png', alt='')
                                                        span.edgtf-client-hover-image
                                                            img(src='/public/images/uploads/client-white-4h.png', alt='')
                                        .edgtf-client-holder.edgtf-clients-roll-over
                                            .edgtf-client-holder-inner
                                                .edgtf-client-image-holder
                                                    a(href='javascript: void(0)', target='_self')
                                                        span.edgtf-client-image
                                                            img(src='/public/images/uploads/client-white-5.png', alt='')
                                                        span.edgtf-client-hover-image
                                                            img(src='/public/images/uploads/client-white-5h.png', alt='')
                                        .edgtf-client-holder.edgtf-clients-roll-over
                                            .edgtf-client-holder-inner
                                                .edgtf-client-image-holder
                                                    a(href='javascript: void(0)', target='_self')
                                                        span.edgtf-client-image
                                                            img(src='/public/images/uploads/client-white-1.png', alt='')
                                                        span.edgtf-client-hover-image
                                                            img(src='/public/images/uploads/client-white-1h.png', alt='')