.vc_row.wpb_row.vc_row-fluid.edgtf-section.vc_custom_1444139900260.edgtf-content-aligment-left.edgtf-grid-section(style='')
    .clearfix.edgtf-section-inner
        .edgtf-section-inner-margin.clearfix
            .wpb_column.vc_column_container.vc_col-sm-12
                .vc_column-inner
                    .wpb_wrapper
                        .edgtf-blog-list-holder.edgtf-boxes.edgtf-three-columns
                            ul.edgtf-blog-list
                                li.edgtf-blog-list-item.clearfix
                                    .edgtf-blog-list-item-inner
                                        .edgtf-item-image
                                            .edgtf-item-date
                                                span.edgtf-date-month 10月
                                                span.edgtf-date-day 13
                                                span.edgtf-date-year 2015
                                            a(href='javascript:;')
                                                img.attachment-portfolio-square.size-portfolio-square.wp-post-image(width='550', height='550', src='/public/images/uploads/b-type-tips-550x550.jpg', alt='a', srcset='/public/images/uploads/b-type-tips-150x150.jpg 150w, /public/images/uploads/b-type-tips-180x180.jpg 180w, /public/images/uploads/b-type-tips-300x300.jpg 300w, /public/images/uploads/b-type-tips-600x600.jpg 600w, /public/images/uploads/b-type-tips-550x550.jpg 550w', sizes='(max-width: 550px) 100vw, 550px')
                                            a.edgtf-image-hover(href='javascript:;')
                                                span.edgtf-image-hover-inner
                                                    span
                                                        | 阅读更多
                                                        span.arrow_carrot-right.edgtf-hover-icon
                                        .edgtf-item-text-holder
                                            h3.edgtf-item-title
                                                a(href='javascript:;')
                                                    | Type Tips
                                            .edgtf-item-info-section
                                                .edgtf-post-info-author
                                                    i.edgtf-icon-simple-line-icon.icon-user
                                                    a.edgtf-post-info-author-link(href='javascript:;') admin
                                                .edgtf-post-info-category
                                                    i.edgtf-icon-simple-line-icon.icon-tag
                                                    a(href='javascript:;', rel='category tag') Business
                                                .edgtf-post-info-comments-holder
                                                    a.edgtf-post-info-comments(href='javascript:;#comments', target='_self')
                                                        i.edgtf-icon-simple-line-icon.icon-bubbles
                                                        | 3
                                                        | 评论
                                            p.edgtf-excerpt
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                                                | ullamcorper placerat ipsum, vel vehicula leo tincidunt vel. Fusce iaculis arcu nu...
                                li.edgtf-blog-list-item.clearfix
                                    .edgtf-blog-list-item-inner
                                        .edgtf-item-image
                                            .edgtf-item-date
                                                span.edgtf-date-month 10月
                                                span.edgtf-date-day 11
                                                span.edgtf-date-year 2015
                                            a(href='javascript:;')
                                                img.attachment-portfolio-square.size-portfolio-square.wp-post-image(width='550', height='550', src='/public/images/uploads/b-bold-and-beautiful-550x550.jpg', alt='a', srcset='/public/images/uploads/b-bold-and-beautiful-150x150.jpg 150w, /public/images/uploads/b-bold-and-beautiful-180x180.jpg 180w, /public/images/uploads/b-bold-and-beautiful-300x300.jpg 300w, /public/images/uploads/b-bold-and-beautiful-600x600.jpg 600w, /public/images/uploads/b-bold-and-beautiful-550x550.jpg 550w', sizes='(max-width: 550px) 100vw, 550px')
                                            a.edgtf-image-hover(href='javascript:;')
                                                span.edgtf-image-hover-inner
                                                    span
                                                        | 阅读更多
                                                        span.arrow_carrot-right.edgtf-hover-icon
                                        .edgtf-item-text-holder
                                            h3.edgtf-item-title
                                                a(href='javascript:;')
                                                    | Bold & Beautiful
                                            .edgtf-item-info-section
                                                .edgtf-post-info-author
                                                    i.edgtf-icon-simple-line-icon.icon-user
                                                    a.edgtf-post-info-author-link(href='javascript:;') admin
                                                .edgtf-post-info-category
                                                    i.edgtf-icon-simple-line-icon.icon-tag
                                                    a(href='javascript:;', rel='category tag') Shopping
                                                .edgtf-post-info-comments-holder
                                                    a.edgtf-post-info-comments(href='javascript:;#comments', target='_self')
                                                        i.edgtf-icon-simple-line-icon.icon-bubbles
                                                        | 3
                                                        | 评论
                                            p.edgtf-excerpt
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                                                | ullamcorper placerat ipsum, vel vehicula leo tincidunt vel. Fusce iaculis arcu nu...
                                li.edgtf-blog-list-item.clearfix
                                    .edgtf-blog-list-item-inner
                                        .edgtf-item-image
                                            .edgtf-item-date
                                                span.edgtf-date-month 10月
                                                span.edgtf-date-day 09
                                                span.edgtf-date-year 2015
                                            a(href='javascript:;')
                                                img.attachment-portfolio-square.size-portfolio-square.wp-post-image(width='550', height='550', src='/public/images/uploads/b-natural-art-550x550.jpg', alt='a', srcset='/public/images/uploads/b-natural-art-150x150.jpg 150w, /public/images/uploads/b-natural-art-180x180.jpg 180w, /public/images/uploads/b-natural-art-300x300.jpg 300w, /public/images/uploads/b-natural-art-600x600.jpg 600w, /public/images/uploads/b-natural-art-550x550.jpg 550w', sizes='(max-width: 550px) 100vw, 550px')
                                            a.edgtf-image-hover(href='javascript:;')
                                                span.edgtf-image-hover-inner
                                                    span
                                                        | 阅读更多
                                                        span.arrow_carrot-right.edgtf-hover-icon
                                        .edgtf-item-text-holder
                                            h3.edgtf-item-title
                                                a(href='javascript:;')
                                                    | Natural Art
                                            .edgtf-item-info-section
                                                .edgtf-post-info-author
                                                    i.edgtf-icon-simple-line-icon.icon-user
                                                    a.edgtf-post-info-author-link(href='javascript:;') admin
                                                .edgtf-post-info-category
                                                    i.edgtf-icon-simple-line-icon.icon-tag
                                                    a(href='category/lifestyle/index.htm', rel='category tag') Lifestyle
                                                .edgtf-post-info-comments-holder
                                                    a.edgtf-post-info-comments(href='javascript:;#comments', target='_self')
                                                        i.edgtf-icon-simple-line-icon.icon-bubbles
                                                        | 3
                                                        | 评论
                                            p.edgtf-excerpt
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                                                | ullamcorper placerat ipsum, vel vehicula leo tincidunt vel. Fusce iaculis arcu nu...