.vc_row.wpb_row.vc_row-fluid.edgtf-section.vc_custom_1444380078395.edgtf-content-aligment-left.edgtf-grid-section(style='')
    .clearfix.edgtf-section-inner
        .edgtf-section-inner-margin.clearfix
            .wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-2.vc_col-md-2.vc_col-has-fill
                .vc_column-inner.vc_custom_1445520595693
                    .wpb_wrapper
                        .edgtf-svg-icons-text-holder.edgtf-upward-animation
                            .edgtf-svg-icons.edgtf-svg-frames-class(data-svg-frames='30', data-svg-drawing='yes')
                                svg#svg-lightbulb-icon(version='1.1', style='stroke:#a2a2a2', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='81.5px', height='106.33px', viewBox='0 0 81.5 106.33', enable-background='new 0 0 81.5 106.33', xml:space='preserve')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='M71.231,70.776 71.231,86.1 40.906,103.607 10.578,86.1 ')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='M25.516,42.477 10.599,51.088 2.643,36.583 19.092,26.95 ')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='M56.387,42.503 71.25,51.083 79.207,36.579 62.5,26.795 ')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='M71.231,51.083 71.231,51.083 40.906,68.592 10.578,51.083 10.578,51.083 ')
                                    path(fill='none', d='M19.073,24.371c0-12.03,9.743-21.773,21.771-21.773c12.029,0,21.773,9.743,21.773,21.773 c0,0.71-0.523,10.773-8.727,21.334c-2.4,3.188-2.003,9.595-1.981,9.595c-3.376,0-6.145,0-9.525,0c-1.031,0-2.063,0-3.09,0 c-3.376,0-6.195,0-9.57,0c0.023,0,0.463-6.406-1.929-9.595C19.584,35.136,19.073,25.082,19.073,24.371z')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M19.073,24.371c0-12.03,9.743-21.773,21.771-21.773	c12.029,0,21.773,9.743,21.773,21.773c0,0.71-0.523,10.773-8.727,21.334c-2.4,3.188-2.003,9.595-1.981,9.595 c-3.376,0-6.145,3-9.525,3c-1.031,0-2.063,0-3.09,0c-3.376,0-6.195-3-9.57-3c0.023,0,0.463-6.406-1.929-9.595 C19.584,35.136,19.073,25.082,19.073,24.371z')
                                    path(fill='none', stroke='#484F59', stroke-width='3', d='M37.607,58.084 33.122,37.834 37.693,35.384 40.837,37.834 44.428,35.384 48.77,37.834 44.285,58.088 	')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linecap='round', stroke-linejoin='bevel', stroke-miterlimit='10', d='M30.097,65.438')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M29.827,54.191 29.827,61.262 41.009,67.483 52.065,61.326 52.013,54.191 ')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='round', stroke-miterlimit='10', d='M71.228,86.17 40.904,103.677 10.576,86.17 10.576,70.109 	')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='round', stroke-miterlimit='10', d='M71.228,70.443 71.228,86.17 40.904,103.677 40.904,68.91 71.228,51.153 	')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='round', stroke-miterlimit='10', d='M40.904,68.91 71.228,51.153 79.188,65.908 48.861,83.416 Z')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='round', stroke-miterlimit='10', d='M40.946,68.941 10.623,51.184 2.662,65.938 32.988,83.449 Z')
                            .edgtf-svg-text
                                p(style='color:#d5d5d5')
                                    | Inventive Infographics
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 0px')
                            .edgtf-separator(style='border-width: 19pxpx')
            .wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-2.vc_col-md-2.vc_col-has-fill
                .vc_column-inner.vc_custom_1445520605371
                    .wpb_wrapper
                        .edgtf-svg-icons-text-holder.edgtf-upward-animation
                            .edgtf-svg-icons.edgtf-svg-frames-class(data-svg-frames='30', data-svg-drawing='yes', data-animation-delay='100')
                                svg(version='1.1', style='stroke:#a2a2a2', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='113.5px', height='101.003px', viewBox='0 0 113.5 101.003', enable-background='new 0 0 113.5 101.003', xml:space='preserve')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M60.86,68.667 11.177,68.667 11.177,41.166 60.86,41.166 ')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M7.378 28.167 10.167 28.167')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='bevel', d='M9.59 76.913 61.38 76.913')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='bevel', d='M2.685 33.482 60.86 33.482')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='bevel', d='M0.667 23.5 60.591 23.5')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='bevel', d='M0.667 99 65.106 99')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='bevel', d='M2.125 99.001 2.125 23.501')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='bevel', d='M32.62 83.913 61.38 83.913')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='bevel', d='M32.62 90.913 61.38 90.913')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='bevel', d='M68.336,19.649h36.845v36.5H68.336V19.649z')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='round', d='M111.267,95.937c0,1.691-1.371,3.063-3.063,3.063 H65.313c-1.691,0-3.063-1.372-3.063-3.063V5.563c0-1.691,1.371-3.063,3.063-3.063h42.891c1.691,0,3.063,1.372,3.063,3.063V95.937z')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='round', d='M85.259 93.011 88.259 93.011')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='bevel', d='M66.927 65.247 106.591 65.247')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='bevel', d='M81.589 9.815 91.929 9.815')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='bevel', d='M77.229 72.747 106.074 72.747')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='bevel', d='M77.229 80.247 106.074 80.247')
                            .edgtf-svg-text
                                p(style='color:#d5d5d5')
                                    | Fully Responsive
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 0px')
                            .edgtf-separator(style='border-width: 19pxpx')
            .wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-2.vc_col-md-2.vc_col-has-fill
                .vc_column-inner.vc_custom_1445520613679
                    .wpb_wrapper
                        .edgtf-svg-icons-text-holder.edgtf-upward-animation
                            .edgtf-svg-icons.edgtf-svg-frames-class(data-svg-frames='30', data-svg-drawing='yes', data-animation-delay='200')
                                svg(version='1.1', style='stroke:#a2a2a2', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='111.334px', height='79.167px', viewBox='0 0 111.334 79.167', enable-background='new 0 0 111.334 79.167', xml:space='preserve')
                                    g
                                        path(fill='none', stroke='#484F59', stroke-width='3', d='M68.589,16.073h25.654c1.557,0,2.819,1.266,2.819,2.82v52.328')
                                        path(fill='none', stroke='#484F59', stroke-width='3', d='M14.546,71.222V18.894c0-1.555,1.266-2.82,2.818-2.82h26.061')
                                    path(fill='none', stroke='#484F59', stroke-width='3', d='M109.355,74.022v-3.06H64.844h-0.585c-0.424,1.463-1.76,1.434-3.361,1.434 H50.71c-1.602,0-2.938,0.029-3.361-1.434h-0.585H2.252v3.06c0,0,3.702,2.764,6.423,2.764h34.073h26.11h34.073\
                                    C105.652,76.786,109.355,74.022,109.355,74.022z')
                                    path(fill='none', stroke='#484F59', stroke-width='3', d='M57.667,43.362h17.313v12.431H57.667V43.362z')
                                    path(fill='none', stroke='#484F59', stroke-width='3', d='M80.304,35.877 55.959,11.377 31.304,35.877 31.304,40.127	31.304,40.127 31.304,66.39 37.304,66.39 37.304,43.39 52.423,43.39 52.423,66.39 80.304,66.39 80.304,40.127 80.304,40.127 Z')
                                    path(fill='none', stroke='#484F59', stroke-width='3', d='M57.667,43.362h17.313v12.431H57.667V43.362z')
                                    path(fill='none', stroke='#484F59', stroke-width='3', d='M20.25,40.007 56.202,3.438 92.396,40.007 ')
                                    path(fill='none', stroke='#484F59', stroke-width='3', d='M37.304 66.39 52.423 66.39')
                            .edgtf-svg-text
                                p(style='color:#d5d5d5')
                                    | One-Page Websites
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 0px')
                            .edgtf-separator(style='border-width: 19pxpx')
            .wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-2.vc_col-md-2.vc_col-has-fill
                .vc_column-inner.vc_custom_1445520622557
                    .wpb_wrapper
                        .edgtf-svg-icons-text-holder.edgtf-upward-animation
                            .edgtf-svg-icons.edgtf-svg-frames-class(data-svg-frames='30', data-svg-drawing='yes', data-animation-delay='300')
                                svg(version='1.1', style='stroke:#a2a2a2', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='112.25px', height='86px', viewBox='0 0 112.25 86', enable-background='new 0 0 112.25 86', xml:space='preserve')
                                    path(fill='none', stroke='#484F59', stroke-width='3', d='M14.939,58.326V5.998c0-1.555,1.266-2.82,2.818-2.82h76.879 c1.557,0,2.819,1.266,2.819,2.82v52.328')
                                    path(fill='none', stroke='#484F59', stroke-width='3', d='M60.752,63.892h8.499h34.073c2.721,0,6.424-2.765,6.424-2.765v-3.061H65.237 h-0.585c-0.424,1.465-1.76,1.434-3.361,1.434')
                                    path(fill='none', stroke='#484F59', stroke-width='3', d='M51.103,59.5c-1.602,0-2.938,0.031-3.361-1.434h-0.585H2.645v3.061 c0,0,3.702,2.765,6.423,2.765h34.073h8.11')
                                    g
                                        path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='round', d='M53.127 58.805 53.126 50.816')
                                        path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='round', d='M59.268 50.816 59.268 58.805')
                                    g
                                        path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='round', d='M56.197,51.808')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='round', d='M77.754,30.818 c-0.004-5.764-2.246-11.182-6.315-15.248c-4.076-4.078-9.506-6.319-15.286-6.309c-5.753,0.018-11.159,2.26-15.211,6.314 c-8.404,8.41-8.404,22.096,0.009,30.496c4.081,4.082,9.515,6.32,15.295,6.311c5.753-0.014,11.149-2.258,15.204-6.311 C75.518,42.004,77.759,36.588,77.754,30.818z M56.239,47.41c-4.46,0.01-8.635-1.715-11.775-4.852\
                                    c-6.478-6.468-6.479-16.996-0.005-23.467c3.122-3.121,7.278-4.846,11.706-4.854c4.449-0.012,8.627,1.712,11.763,4.846\
                                    c3.133,3.132,4.859,7.295,4.857,11.738c0.002,4.437-1.724,8.607-4.848,11.74C64.817,45.682,60.665,47.404,56.239,47.41z')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='round', d='M52.074,34.086')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='round', d='M67.407,18.752')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='round', d='M60.676,80.909c0,0-1.25,1.993-4.479,2.093 c-3.229,0.099-4.479-2.093-4.479-2.093V58.096h8.959V80.909z')
                                    path(fill='none', stroke='#484F59', stroke-width='3', d='M73.152,53.037 91.428,53.037 91.428,9.262 20.965,9.262 20.965,53.037 40.121,53.037 ')
                            .edgtf-svg-text
                                p(style='color:#d5d5d5')
                                    | Highly Customizable
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 0px')
                            .edgtf-separator(style='border-width: 19pxpx')
            .wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-2.vc_col-md-2.vc_col-has-fill
                .vc_column-inner.vc_custom_1445520632325
                    .wpb_wrapper
                        .edgtf-svg-icons-text-holder.edgtf-upward-animation
                            .edgtf-svg-icons.edgtf-svg-frames-class(data-svg-frames='30', data-svg-drawing='yes', data-animation-delay='400')
                                svg(version='1.1', style='stroke:#a2a2a2', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='102.5px', height='87.5px', viewBox='0 0 102.5 87.5', enable-background='new 0 0 102.5 87.5', xml:space='preserve')
                                    path(fill='none', stroke='#484F59', stroke-width='3', d='M93.216,30.249V4.968c0-1.369-1.115-2.484-2.486-2.484H4.981 c-1.369,0-2.484,1.115-2.484,2.484v53.064h71.866')
                                    path(fill='none', stroke='#484F59', stroke-width='3', d='M75.241,51.854 9.579,51.854 9.579,9.007 87.784,9.007 87.784,30.198 ')
                                    path(fill='none', stroke='#484F59', stroke-width='3', d='M74.171,58.179H2.497v7.654c0,1.466,1.504,3.099,2.971,3.099h68.703')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='round', d='M100.361,78.383c0,0.868-0.703,1.572-1.57,1.572 H76.779c-0.869,0-1.572-0.704-1.572-1.572v-46.38c0-0.869,0.703-1.572,1.572-1.572h22.012c0.867,0,1.57,0.703,1.57,1.572V78.383z')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='round', d='M62.367,83.884c0,0.868-0.757,1.572-1.69,1.572 H36.973c-0.937,0-1.693-0.704-1.693-1.572l4.308-13.38c0-0.869,0.757-1.572,1.693-1.572h15.089c0.934,0,1.69,0.703,1.69,1.572 L62.367,83.884z')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-linejoin='round', d='M86.33 74.763 89.238 74.763')
                                    g
                                        path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M71.097,23.176 64.024,16.11\
                                        56.956,23.176 	')
                                        path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M64.024 18.03 64.028 45.585')
                                    g
                                        path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M82.183,53.649 87.784,59.247 93.386,53.649')
                                        path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M87.784 57.724 87.782 38.272')
                            .edgtf-svg-text
                                p(style='color:#d5d5d5')
                                    | Multi-Demo Themes
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 0px')
                            .edgtf-separator(style='border-width: 19pxpx')
            .wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-2.vc_col-md-2.vc_col-has-fill
                .vc_column-inner
                    .wpb_wrapper
                        .edgtf-svg-icons-text-holder.edgtf-upward-animation
                            .edgtf-svg-icons.edgtf-svg-frames-class(data-svg-frames='30', data-svg-drawing='yes', data-animation-delay='500')
                                svg(version='1.1', style='stroke:#a2a2a2', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='102.75px', height='80px', viewBox='0 0 102.75 80', enable-background='new 0 0 102.75 80', xml:space='preserve')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M2.41,2.468h98.5v75.5H2.41V2.468z')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M2.41,2.468h98.5v9.5H2.41V2.468z')
                                    path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M93.5 7.135 96.592 7.135')
                                    g
                                        g
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M20.678 20.304 29.617 20.304')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M41.268 20.304 59.555 20.304')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M32.191 20.304 36.391 20.304')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M23.658 34.422 32.869 34.422')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M45.602 34.422 59.555 34.422')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M35.443 34.422 40.727 34.422')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M60.096 48.537 87.309 48.537')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M35.984 48.537 56.709 48.537')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M73.811 34.422 89.764 34.422')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M63.482 34.422 70.934 34.422')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M28.533 41.48 33.953 41.48')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M35.984 41.48 57.109 41.48')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M72.424 20.304 90.711 20.304')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M63.348 20.304 67.549 20.304')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M20.678 27.363 56.709 27.363')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M20.678 55.713 70.256 55.713')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M20.678 62.771 78.1 62.771')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M20.678 69.83 45.602 69.83')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M10.156 20.304 13.865 20.304')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M10.156 27.363 13.865 27.363')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M10.156 34.422 13.865 34.422')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M10.156 41.48 13.865 41.48')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M10.156 48.537 13.865 48.537')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M10.156 55.596 13.865 55.596')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M10.156 62.654 13.865 62.654')
                                            path(fill='none', stroke='#484F59', stroke-width='3', stroke-miterlimit='10', d='M10.156 69.713 13.865 69.713')
                            .edgtf-svg-text
                                p(style='color:#d5d5d5')
                                    | Loads of Layouts
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 0px')
                            .edgtf-separator(style='border-width: 19pxpx')