.vc_row.wpb_row.vc_row-fluid.edgtf-section.vc_custom_1444223101291.edgtf-content-aligment-center.edgtf-grid-section(style='')
    .clearfix.edgtf-section-inner
        .edgtf-section-inner-margin.clearfix
            .wpb_column.vc_column_container.vc_col-sm-12
                .vc_column-inner
                    .wpb_wrapper
                        .wpb_text_column.wpb_content_element
                            .wpb_wrapper
                                h2 没有编码，享受建站的乐趣。
                        .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-center.edgtf-zig-zag-separator-medium(data-svg-drawing='yes', data-svg-frames='40', style='margin-top: 18px;margin-bottom: 19px')
                            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='14', width='68', viewBox='0 0 69.172 14.975', xml:space='preserve')
                                path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                                29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                        .wpb_text_column.wpb_content_element
                            .wpb_wrapper
                                h4
                                    | 慢日子里的紧凑，有着笸箩里的针线，我也是流年里的绣娘，一朵花，一株草，一泓清泉，捻指用情编织
                                    br
                                    | 																当这些都爬满我的心田，生活的淡香就会不约而至。
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 57px;margin-bottom: 0px')
                            .edgtf-separator
                        .edgtf-icon-slider-container
                            .edgtf-icon-slider-controls-holder
                                .edgtf-icon-slider-controls-holder-inner
                                    .edgtf-icon-slider-nav-icon
                                        i.edgtf-icon-simple-line-icon.icon-loop.edgtf-icon-slider-icon.active(style='')
                                    .edgtf-icon-slider-nav-icon
                                        i.edgtf-icon-simple-line-icon.icon-magnet.edgtf-icon-slider-icon(style='')
                                    .edgtf-icon-slider-nav-icon
                                        i.edgtf-icon-simple-line-icon.icon-plane.edgtf-icon-slider-icon(style='')
                                    .edgtf-icon-slider-nav-icon
                                        i.edgtf-icon-simple-line-icon.icon-picture.edgtf-icon-slider-icon(style='')
                                    .edgtf-icon-slider-nav-icon
                                        i.edgtf-icon-simple-line-icon.icon-paper-clip.edgtf-icon-slider-icon(style='')
                            .edgtf-icon-slider-container-inner
                                .edgtf-icon-slide
                                    .edgtf-icon-slide-container-inner
                                        .edgtf-slide-content(style='background-image:url(/public/images/uploads/main-home-icon-slider.jpg);background-size:cover;background-repeat:no-repeat')
                                            .wpb_text_column.wpb_content_element
                                                .wpb_wrapper
                                                    h3 Highlight Your Team
                                            .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 20px;margin-bottom: 0px')
                                                .edgtf-separator
                                            .wpb_text_column.wpb_content_element
                                                .wpb_wrapper
                                                    p
                                                        | 夜色融融，独坐在窗前，一个人的时光也很寂美，有风吹来，送来淡淡的花香，这样的时候适合阅读或回想，喧闹过后，想自己的小欢喜，小幸福，嘴角微微上扬，原来生活待我们不薄。即便是一朵小花，也会因为知足而变得美丽。书一笔清远，蘸一缕花香，在淡淡的素韵中，画一幅永恒的碧水情长；盈一怀温婉，挽一莲清梦，在花月的柔美里，吟一曲动人的篇章。
                                            .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 32px;margin-bottom: 0px')
                                                .edgtf-separator
                                            a.edgtf-btn.edgtf-btn-medium.edgtf-btn-outline.edgtf-btn-custom-hover-bg.edgtf-btn-custom-border-hover.edgtf-btn-custom-hover-color.edgtf-btn-icon(href="javascript:;", target='_self', data-hover-bg-color='rgba(255,255,255,0.01)', data-hover-color='#7b7b7b', data-hover-border-color='#abacac')
                                                span.edgtf-btn-text See more
                                                span.edgtf-icon-font-elegant.arrow_carrot-2right.edgtf-button-icon-holder(aria-hidden='true')
                                        .edgtf-slide-image(style='background-image:url(/public/images/uploads/home-main-icon-slider2.jpg);background-size:cover;background-repeat:no-repeat')
                                            img(src='/public/images/uploads/home-main-icon-slider2.jpg', alt='img')
                                .edgtf-icon-slide
                                    .edgtf-icon-slide-container-inner
                                        .edgtf-slide-content(style='background-image:url(/public/images/uploads/main-home-icon-slider.jpg);background-size:cover;background-repeat:no-repeat')
                                            .wpb_text_column.wpb_content_element
                                                .wpb_wrapper
                                                    h3 Choose an Icon Pack
                                            .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 20px;margin-bottom: 0px')
                                                .edgtf-separator
                                            .wpb_text_column.wpb_content_element
                                                .wpb_wrapper
                                                    p
                                                        | 夜色融融，独坐在窗前，一个人的时光也很寂美，有风吹来，送来淡淡的花香，这样的时候适合阅读或回想，喧闹过后，想自己的小欢喜，小幸福，嘴角微微上扬，原来生活待我们不薄。即便是一朵小花，也会因为知足而变得美丽。书一笔清远，蘸一缕花香，在淡淡的素韵中，画一幅永恒的碧水情长；盈一怀温婉，挽一莲清梦，在花月的柔美里，吟一曲动人的篇章。
                                            .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 32px;margin-bottom: 0px')
                                                .edgtf-separator
                                            a.edgtf-btn.edgtf-btn-medium.edgtf-btn-outline.edgtf-btn-custom-hover-bg.edgtf-btn-custom-border-hover.edgtf-btn-custom-hover-color.edgtf-btn-icon(href="javascript:;", target='_self', data-hover-bg-color='rgba(255,255,255,0.01)', data-hover-color='#7b7b7b', data-hover-border-color='#abacac')
                                                span.edgtf-btn-text See more
                                                span.edgtf-icon-font-elegant.arrow_carrot-2right.edgtf-button-icon-holder(aria-hidden='true')
                                        .edgtf-slide-image(style='background-image:url(/public/images/uploads/home-main-icon-slider3.jpg);background-size:cover;background-repeat:no-repeat')
                                            img(src='/public/images/uploads/home-main-icon-slider3.jpg', alt='img')
                                .edgtf-icon-slide
                                    .edgtf-icon-slide-container-inner
                                        .edgtf-slide-content(style='background-image:url(/public/images/uploads/main-home-icon-slider.jpg);background-size:cover;background-repeat:no-repeat')
                                            .wpb_text_column.wpb_content_element
                                                .wpb_wrapper
                                                    h3 Highly Customizable
                                            .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 20px;margin-bottom: 0px')
                                                .edgtf-separator
                                            .wpb_text_column.wpb_content_element
                                                .wpb_wrapper
                                                    p
                                                        | 夜色融融，独坐在窗前，一个人的时光也很寂美，有风吹来，送来淡淡的花香，这样的时候适合阅读或回想，喧闹过后，想自己的小欢喜，小幸福，嘴角微微上扬，原来生活待我们不薄。即便是一朵小花，也会因为知足而变得美丽。书一笔清远，蘸一缕花香，在淡淡的素韵中，画一幅永恒的碧水情长；盈一怀温婉，挽一莲清梦，在花月的柔美里，吟一曲动人的篇章。
                                            .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 32px;margin-bottom: 0px')
                                                .edgtf-separator
                                            a.edgtf-btn.edgtf-btn-medium.edgtf-btn-outline.edgtf-btn-custom-hover-bg.edgtf-btn-custom-border-hover.edgtf-btn-custom-hover-color.edgtf-btn-icon(href="javascript:;", target='_self', data-hover-bg-color='rgba(255,255,255,0.01)', data-hover-color='#7b7b7b', data-hover-border-color='#abacac')
                                                span.edgtf-btn-text See more
                                                span.edgtf-icon-font-elegant.arrow_carrot-2right.edgtf-button-icon-holder(aria-hidden='true')
                                        .edgtf-slide-image
                                            img(src='', alt='img')
                                .edgtf-icon-slide
                                    .edgtf-icon-slide-container-inner
                                        .edgtf-slide-content(style='background-image:url(/public/images/uploads/main-home-icon-slider.jpg);background-size:cover;background-repeat:no-repeat')
                                            .wpb_text_column.wpb_content_element
                                                .wpb_wrapper
                                                    h3 Powerful Portfolios
                                            .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 20px;margin-bottom: 0px')
                                                .edgtf-separator
                                            .wpb_text_column.wpb_content_element
                                                .wpb_wrapper
                                                    p
                                                        | 夜色融融，独坐在窗前，一个人的时光也很寂美，有风吹来，送来淡淡的花香，这样的时候适合阅读或回想，喧闹过后，想自己的小欢喜，小幸福，嘴角微微上扬，原来生活待我们不薄。即便是一朵小花，也会因为知足而变得美丽。书一笔清远，蘸一缕花香，在淡淡的素韵中，画一幅永恒的碧水情长；盈一怀温婉，挽一莲清梦，在花月的柔美里，吟一曲动人的篇章。
                                            .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 32px;margin-bottom: 0px')
                                                .edgtf-separator
                                            a.edgtf-btn.edgtf-btn-medium.edgtf-btn-outline.edgtf-btn-custom-hover-bg.edgtf-btn-custom-border-hover.edgtf-btn-custom-hover-color.edgtf-btn-icon(href="javascript:;", target='_self', data-hover-bg-color='rgba(255,255,255,0.01)', data-hover-color='#7b7b7b', data-hover-border-color='#abacac')
                                                span.edgtf-btn-text See more
                                                span.edgtf-icon-font-elegant.arrow_carrot-2right.edgtf-button-icon-holder(aria-hidden='true')
                                        .edgtf-slide-image(style='background-image:url(/public/images/uploads/home-main-icon-slider4.jpg);background-size:cover;background-repeat:no-repeat')
                                            img(src='/public/images/uploads/home-main-icon-slider4.jpg', alt='img')
                                .edgtf-icon-slide
                                    .edgtf-icon-slide-container-inner
                                        .edgtf-slide-content(style='background-image:url(/public/images/uploads/main-home-icon-slider.jpg);background-size:cover;background-repeat:no-repeat')
                                            .wpb_text_column.wpb_content_element
                                                .wpb_wrapper
                                                    h3 Powerful Portfolios
                                            .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 20px;margin-bottom: 0px')
                                                .edgtf-separator
                                            .wpb_text_column.wpb_content_element
                                                .wpb_wrapper
                                                    p
                                                        | 夜色融融，独坐在窗前，一个人的时光也很寂美，有风吹来，送来淡淡的花香，这样的时候适合阅读或回想，喧闹过后，想自己的小欢喜，小幸福，嘴角微微上扬，原来生活待我们不薄。即便是一朵小花，也会因为知足而变得美丽。书一笔清远，蘸一缕花香，在淡淡的素韵中，画一幅永恒的碧水情长；盈一怀温婉，挽一莲清梦，在花月的柔美里，吟一曲动人的篇章。
                                            .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 32px;margin-bottom: 0px')
                                                .edgtf-separator
                                            a.edgtf-btn.edgtf-btn-medium.edgtf-btn-outline.edgtf-btn-custom-hover-bg.edgtf-btn-custom-border-hover.edgtf-btn-custom-hover-color.edgtf-btn-icon(href="javascript:;", target='_self', data-hover-bg-color='rgba(255,255,255,0.01)', data-hover-color='#7b7b7b', data-hover-border-color='#abacac')
                                                span.edgtf-btn-text See more
                                                span.edgtf-icon-font-elegant.arrow_carrot-2right.edgtf-button-icon-holder(aria-hidden='true')
                                        .edgtf-slide-image(style='background-image:url(/public/images/uploads/home-main-icon-slider5.jpg);background-size:cover;background-repeat:no-repeat')
                                            img(src='/public/images/uploads/home-main-icon-slider5.jpg', alt='img')
