.vc_row.wpb_row.vc_row-fluid.edgtf-section.vc_custom_1444381087929.edgtf-content-aligment-left.edgtf-grid-section(style='')
    .clearfix.edgtf-section-inner
        .edgtf-section-inner-margin.clearfix
            .wpb_column.vc_column_container.vc_col-sm-4
                .vc_column-inner
                    .wpb_wrapper
                        .wpb_single_image.wpb_content_element.vc_align_left
                            figure.wpb_wrapper.vc_figure
                                .vc_single_image-wrapper.vc_box_border_grey
                                    img.vc_single_image-img.attachment-full(width='640', height='477', src='/public/images/uploads/main-home-single-image-3.jpg', alt='a', srcset='/public/images/uploads/main-home-single-image-3-300x224.jpg 300w, /public/images/uploads/main-home-single-image-3.jpg 640w', sizes='(max-width: 640px) 100vw, 640px')
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 9px;margin-bottom: 0px')
                            .edgtf-separator
                        .edgtf-number-holder.edgtf-number-left
                            .edgtf-number-holder-inner
                                span.edgtf-number(style='color: rgba(27,27,23,0.13);font-size: 92px;font-family: Open Sans;font-weight: 600;font-style: normal;letter-spacing: 0px') 01
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: -26px;margin-bottom: 0px')
                            .edgtf-separator
                        .wpb_text_column.wpb_content_element
                            .wpb_wrapper
                                h5 主题细节的关注
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 13px;margin-bottom: 0px')
                            .edgtf-separator
                        .wpb_text_column.wpb_content_element
                            .wpb_wrapper
                                p 花的哀鸣，和一地的殷红的疼痛，久久难以入眠。睡梦中，雨停了，风柔了，暖暖的风，伴着蓝月光，如水般轻柔，散落一地的片片花瓣，旖旎成形，串成一串串的花环，如心形。
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 39px;margin-bottom: 0px')
                            .edgtf-separator
            .wpb_column.vc_column_container.vc_col-sm-4
                .vc_column-inner
                    .wpb_wrapper
                        .wpb_single_image.wpb_content_element.vc_align_left
                            figure.wpb_wrapper.vc_figure
                                .vc_single_image-wrapper.vc_box_border_grey
                                    img.vc_single_image-img.attachment-full(width='640', height='477', src='/public/images/uploads/main-home-single-image-2.jpg', alt='a', srcset='/public/images/uploads/main-home-single-image-2-300x224.jpg 300w, /public/images/uploads/main-home-single-image-2.jpg 640w', sizes='(max-width: 640px) 100vw, 640px')
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 9px;margin-bottom: 0px')
                            .edgtf-separator
                        .edgtf-number-holder.edgtf-number-left
                            .edgtf-number-holder-inner
                                span.edgtf-number(style='color: rgba(27,27,23,0.13);font-size: 92px;font-family: Open Sans;font-weight: 600;font-style: normal;letter-spacing: 0px') 02
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: -26px;margin-bottom: 0px')
                            .edgtf-separator
                        .wpb_text_column.wpb_content_element
                            .wpb_wrapper
                                h5 拖拽可视化编辑器
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 13px;margin-bottom: 0px')
                            .edgtf-separator
                        .wpb_text_column.wpb_content_element
                            .wpb_wrapper
                                p 花的哀鸣，和一地的殷红的疼痛，久久难以入眠。睡梦中，雨停了，风柔了，暖暖的风，伴着蓝月光，如水般轻柔，散落一地的片片花瓣，旖旎成形，串成一串串的花环，如心形。
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 39px;margin-bottom: 0px')
                            .edgtf-separator
            .wpb_column.vc_column_container.vc_col-sm-4
                .vc_column-inner
                    .wpb_wrapper
                        .wpb_single_image.wpb_content_element.vc_align_left
                            figure.wpb_wrapper.vc_figure
                                .vc_single_image-wrapper.vc_box_border_grey
                                    img.vc_single_image-img.attachment-full(width='640', height='477', src='/public/images/uploads/main-home-single-image-4.jpg', alt='a', srcset='/public/images/uploads/main-home-single-image-4-300x224.jpg 300w, /public/images/uploads/main-home-single-image-4.jpg 640w', sizes='(max-width: 640px) 100vw, 640px')
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 9px;margin-bottom: 0px')
                            .edgtf-separator
                        .edgtf-number-holder.edgtf-number-left
                            .edgtf-number-holder-inner
                                span.edgtf-number(style='color: rgba(27,27,23,0.13);font-size: 92px;font-family: Open Sans;font-weight: 600;font-style: normal;letter-spacing: 0px') 03
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: -26px;margin-bottom: 0px')
                            .edgtf-separator
                        .wpb_text_column.wpb_content_element
                            .wpb_wrapper
                                h5 快速的技术支持
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 13px;margin-bottom: 0px')
                            .edgtf-separator
                        .wpb_text_column.wpb_content_element
                            .wpb_wrapper
                                p 花的哀鸣，和一地的殷红的疼痛，久久难以入眠。睡梦中，雨停了，风柔了，暖暖的风，伴着蓝月光，如水般轻柔，散落一地的片片花瓣，旖旎成形，串成一串串的花环，如心形。
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 39px;margin-bottom: 0px')
                            .edgtf-separator