.vc_row.wpb_row.vc_row-fluid.edgtf-section.vc_custom_1444381484448.edgtf-content-aligment-left.edgtf-grid-section(style='')
    .clearfix.edgtf-section-inner
        .edgtf-section-inner-margin.clearfix
            .wpb_column.vc_column_container.vc_col-sm-4
                .vc_column-inner
                    .wpb_wrapper
                        .edgtf-iwt.clearfix.edgtf-iwt-left-from-title.edgtf-iwt-icon-tiny
                            .edgtf-iwt-content-holder
                                .edgtf-iwt-icon-title-holder
                                    .edgtf-iwt-icon-holder
                                        span.edgtf-icon-shortcode.normal.edgtf-icon-tiny
                                            i.edgtf-icon-simple-line-icon.icon-badge.edgtf-icon-element(style='')
                                    .edgtf-iwt-title-holder
                                        h5 一键安装
                                .edgtf-iwt-text-holder
                                    p
                                        | 绿意盎然的枝头上该有怎样的琉璃梦，我将那些心动的念想化作指尖的文字，希望有清露一样的晶莹，在一纸素笺上氤氲成朵朵花开。我愿让灵魂游离在凡俗之外，在寂寞的文字里读你，在淡淡的墨香里耽美。
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 39px;margin-bottom: 0px')
                            .edgtf-separator
            .wpb_column.vc_column_container.vc_col-sm-4
                .vc_column-inner
                    .wpb_wrapper
                        .edgtf-iwt.clearfix.edgtf-iwt-left-from-title.edgtf-iwt-icon-tiny
                            .edgtf-iwt-content-holder
                                .edgtf-iwt-icon-title-holder
                                    .edgtf-iwt-icon-holder
                                        span.edgtf-icon-shortcode.normal.edgtf-icon-tiny
                                            i.edgtf-icon-simple-line-icon.icon-crop.edgtf-icon-element(style='')
                                    .edgtf-iwt-title-holder
                                        h5 视网膜支持
                                .edgtf-iwt-text-holder
                                    p
                                        | 绿意盎然的枝头上该有怎样的琉璃梦，我将那些心动的念想化作指尖的文字，希望有清露一样的晶莹，在一纸素笺上氤氲成朵朵花开。我愿让灵魂游离在凡俗之外，在寂寞的文字里读你，在淡淡的墨香里耽美。
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 39px;margin-bottom: 0px')
                            .edgtf-separator
            .wpb_column.vc_column_container.vc_col-sm-4
                .vc_column-inner
                    .wpb_wrapper
                        .edgtf-iwt.clearfix.edgtf-iwt-left-from-title.edgtf-iwt-icon-tiny
                            .edgtf-iwt-content-holder
                                .edgtf-iwt-icon-title-holder
                                    .edgtf-iwt-icon-holder
                                        span.edgtf-icon-shortcode.normal.edgtf-icon-tiny
                                            i.edgtf-icon-simple-line-icon.icon-plane.edgtf-icon-element(style='')
                                    .edgtf-iwt-title-holder
                                        h5 友好的支持
                                .edgtf-iwt-text-holder
                                    p
                                        | 绿意盎然的枝头上该有怎样的琉璃梦，我将那些心动的念想化作指尖的文字，希望有清露一样的晶莹，在一纸素笺上氤氲成朵朵花开。我愿让灵魂游离在凡俗之外，在寂寞的文字里读你，在淡淡的墨香里耽美。
                        .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 39px;margin-bottom: 0px')
                            .edgtf-separator