.vc_row.wpb_row.vc_row-fluid.edgtf-section.vc_custom_1444658513013.edgtf-content-aligment-center(style='')
    .clearfix.edgtf-full-section-inner
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                            h2 高端创意的元素
                    .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-center.edgtf-zig-zag-separator-medium(data-svg-drawing='yes', data-svg-frames='40', style='margin-top: 18px;margin-bottom: 19px')
                        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='14', width='68', viewBox='0 0 69.172 14.975', xml:space='preserve')
                            path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                            29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                    .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                            h4 如若哪一天真的缘分已浅，至少可以记得，在哪一场花事里的心动，铭心的深情。如花落时 在风中曼妙，漫漫的滑落。