.vc_row.wpb_row.vc_row-fluid.edgtf-section.vc_custom_1444383922684.edgtf-content-aligment-center(style='')
    .edgtf-mobile-video-image(style='background-image:url("/public/images/uploads/traffic-preload-image.jpg");')
    .edgtf-video-overlay
    .edgtf-video-wrap
        video.edgtf-video(width='1920', height='800', poster='/public/images/uploads/traffic-preload-image.jpg', controls='controls', preload='auto', loop='', autoplay='', muted='')
            source(type='video/webm', src='/public/images/uploads/traffic.webm')
            source(type='video/mp4', src='/public/images/uploads/traffic.mp4')
            source(type='video/ogg', src='/public/images/uploads/traffic.ogv')
            object(width='320', height='240', type='application/x-shockwave-flash', data='flashmediaelement.swf')
                param(name='movie', value='flashmediaelement.swf')
                param(name='flashvars', value='controls=true&file=/public/images/uploads/traffic.mp4')
                img(src='/public/images/uploads/traffic-preload-image.jpg', width='1920', height='800', title='No video playback capabilities', alt='Video thumb')
    .clearfix.edgtf-full-section-inner
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-center.edgtf-zig-zag-separator-large(data-svg-drawing='yes', data-svg-frames='40')
                        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='24', width='118', viewBox='0 0 69.172 14.975', xml:space='preserve')
                            path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                            29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 27px;margin-bottom: 0px')
                        .edgtf-separator
                    .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                            h2
                                span(style='color: #ffffff;') 创客云承接WordPress主题安装调试，优化汉化仿站开发等企业网站建设服务！
                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 11px;margin-bottom: 0px')
                        .edgtf-separator
                    .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                            h4
                                span(style='color: #ffffff;')  创客云世界顶级主题作品交易市场
                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 33px;margin-bottom: 0px')
                        .edgtf-separator
                    a.edgtf-btn.edgtf-btn-medium.edgtf-btn-outline-white.edgtf-btn-icon(href='javascript:;', target='_blank')
                        span.edgtf-btn-text 联系客服
                        span.edgtf-icon-font-elegant.arrow_carrot-2right.edgtf-button-icon-holder(aria-hidden='true')