.vc_row.wpb_row.vc_row-fluid.edgtf-section.edgtf-content-aligment-left(style='')
    .clearfix.edgtf-full-section-inner
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    .edgtf-portfolio-list-holder-outer.edgtf-ptf-gallery.edgtf-portfolio-slider-holder(data-next-page='2', data-type='gallery', data-columns='three', data-grid-size='three', data-order-by='date', data-order='ASC', data-number='6', data-image-size='square', data-filter='no', data-filter-order-by='classic', data-show-load-more='yes', data-title-tag='h4', data-items='5', data-max-num-pages='4')
                        .edgtf-portfolio-list-holder.clearfix
                            article.edgtf-portfolio-item.mix.portfolio_category_72.portfolio_category_36
                                a.edgtf-portfolio-link(href='javascript:;')
                                .edgtf-item-image-holder
                                    img.attachment-portfolio-square.size-portfolio-square.wp-post-image(width='550', height='550', src='/public/images/uploads/p-img-hot-picks-550x550.jpg', alt='g', srcset='/public/images/uploads/p-img-hot-picks-150x150.jpg 150w, /public/images/uploads/p-img-hot-picks-180x180.jpg 180w, /public/images/uploads/p-img-hot-picks-300x300.jpg 300w, /public/images/uploads/p-img-hot-picks-600x600.jpg 600w, /public/images/uploads/p-img-hot-picks-550x550.jpg 550w', sizes='(max-width: 550px) 100vw, 550px')
                                .edgtf-item-text-overlay
                                    .edgtf-item-text-overlay-inner
                                        .edgtf-item-text-holder
                                            h4.edgtf-item-title
                                                a(href='javascript:;')
                                                    | Hot Picks
                                            .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-center.edgtf-zig-zag-separator-on(data-svg-drawing='no', data-svg-frames='40', style='margin-top: 5px;margin-bottom: 6px')
                                                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='14', width='68', viewBox='0 0 69.172 14.975', xml:space='preserve')
                                                    path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                                                    29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                                            .edgtf-ptf-category-holder
                                                span Branding
                                                |  / 
                                                span Fashion
                            article.edgtf-portfolio-item.mix.portfolio_category_31.portfolio_category_53
                                a.edgtf-portfolio-link(href='javascript:;')
                                .edgtf-item-image-holder
                                    img.attachment-portfolio-square.size-portfolio-square.wp-post-image(width='550', height='550', src='/public/images/uploads/p-img-character-concepts-550x550.jpg', alt='c', srcset='/public/images/uploads/p-img-character-concepts-150x150.jpg 150w, /public/images/uploads/p-img-character-concepts-180x180.jpg 180w, /public/images/uploads/p-img-character-concepts-300x300.jpg 300w, /public/images/uploads/p-img-character-concepts-600x600.jpg 600w, /public/images/uploads/p-img-character-concepts-550x550.jpg 550w', sizes='(max-width: 550px) 100vw, 550px')
                                .edgtf-item-text-overlay
                                    .edgtf-item-text-overlay-inner
                                        .edgtf-item-text-holder
                                            h4.edgtf-item-title
                                                a(href='javascript:;')
                                                    | Character Concepts
                                            .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-center.edgtf-zig-zag-separator-on(data-svg-drawing='no', data-svg-frames='40', style='margin-top: 5px;margin-bottom: 6px')
                                                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='14', width='68', viewBox='0 0 69.172 14.975', xml:space='preserve')
                                                    path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                                                    29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                                            .edgtf-ptf-category-holder
                                                span Concepts
                                                |  / 
                                                span Personal
                            article.edgtf-portfolio-item.mix.portfolio_category_64
                                a.edgtf-portfolio-link(href='javascript:;')
                                .edgtf-item-image-holder
                                    img.attachment-portfolio-square.size-portfolio-square.wp-post-image(width='550', height='550', src='/public/images/uploads/p-img-minimalistic-and-modern-550x550.jpg', alt='j', srcset='/public/images/uploads/p-img-minimalistic-and-modern-150x150.jpg 150w, /public/images/uploads/p-img-minimalistic-and-modern-180x180.jpg 180w, /public/images/uploads/p-img-minimalistic-and-modern-300x300.jpg 300w, /public/images/uploads/p-img-minimalistic-and-modern-600x600.jpg 600w, /public/images/uploads/p-img-minimalistic-and-modern-550x550.jpg 550w', sizes='(max-width: 550px) 100vw, 550px')
                                .edgtf-item-text-overlay
                                    .edgtf-item-text-overlay-inner
                                        .edgtf-item-text-holder
                                            h4.edgtf-item-title
                                                a(href='javascript:;')
                                                    | Minimalistic
                                            .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-center.edgtf-zig-zag-separator-on(data-svg-drawing='no', data-svg-frames='40', style='margin-top: 5px;margin-bottom: 6px')
                                                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='14', width='68', viewBox='0 0 69.172 14.975', xml:space='preserve')
                                                    path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                                                    29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                                            .edgtf-ptf-category-holder
                                                span Ui
                            article.edgtf-portfolio-item.mix.portfolio_category_72.portfolio_category_31
                                a.edgtf-portfolio-link(href='javascript:;')
                                .edgtf-item-image-holder
                                    img.attachment-portfolio-square.size-portfolio-square.wp-post-image(width='550', height='550', src='/public/images/uploads/p-img-airbrush-artwork-550x550.jpg', alt='c', srcset='/public/images/uploads/p-img-airbrush-artwork-150x150.jpg 150w, /public/images/uploads/p-img-airbrush-artwork-180x180.jpg 180w, /public/images/uploads/p-img-airbrush-artwork-300x300.jpg 300w, /public/images/uploads/p-img-airbrush-artwork-600x600.jpg 600w, /public/images/uploads/p-img-airbrush-artwork-550x550.jpg 550w', sizes='(max-width: 550px) 100vw, 550px')
                                .edgtf-item-text-overlay
                                    .edgtf-item-text-overlay-inner
                                        .edgtf-item-text-holder
                                            h4.edgtf-item-title
                                                a(href='javascript:;')
                                                    | Airbrush Artwork
                                            .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-center.edgtf-zig-zag-separator-on(data-svg-drawing='no', data-svg-frames='40', style='margin-top: 5px;margin-bottom: 6px')
                                                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='14', width='68', viewBox='0 0 69.172 14.975', xml:space='preserve')
                                                    path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                                                    29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                                            .edgtf-ptf-category-holder
                                                span Branding
                                                |  / 
                                                span Concepts
                            article.edgtf-portfolio-item.mix.portfolio_category_72.portfolio_category_31
                                a.edgtf-portfolio-link(href='javascript:;')
                                .edgtf-item-image-holder
                                    img.attachment-portfolio-square.size-portfolio-square.wp-post-image(width='550', height='550', src='/public/images/uploads/p-img-sketches-and-scribbles-550x550.jpg', alt='h', srcset='/public/images/uploads/p-img-sketches-and-scribbles-150x150.jpg 150w, /public/images/uploads/p-img-sketches-and-scribbles-180x180.jpg 180w, /public/images/uploads/p-img-sketches-and-scribbles-300x300.jpg 300w, /public/images/uploads/p-img-sketches-and-scribbles-600x600.jpg 600w, /public/images/uploads/p-img-sketches-and-scribbles-550x550.jpg 550w', sizes='(max-width: 550px) 100vw, 550px')
                                .edgtf-item-text-overlay
                                    .edgtf-item-text-overlay-inner
                                        .edgtf-item-text-holder
                                            h4.edgtf-item-title
                                                a(href='javascript:;')
                                                    | Sketches
                                            .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-center.edgtf-zig-zag-separator-on(data-svg-drawing='no', data-svg-frames='40', style='margin-top: 5px;margin-bottom: 6px')
                                                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='14', width='68', viewBox='0 0 69.172 14.975', xml:space='preserve')
                                                    path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                                                    29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                                            .edgtf-ptf-category-holder
                                                span Branding
                                                |  / 
                                                span Concepts
                            article.edgtf-portfolio-item.mix.portfolio_category_36.portfolio_category_53
                                a.edgtf-portfolio-link(href='javascript:;')
                                .edgtf-item-image-holder
                                    img.attachment-portfolio-square.size-portfolio-square.wp-post-image(width='550', height='550', src='/public/images/uploads/p-img-vision-logo-550x550.jpg', alt='d', srcset='/public/images/uploads/p-img-vision-logo-150x150.jpg 150w, /public/images/uploads/p-img-vision-logo-180x180.jpg 180w, /public/images/uploads/p-img-vision-logo-300x300.jpg 300w, /public/images/uploads/p-img-vision-logo-600x600.jpg 600w, /public/images/uploads/p-img-vision-logo-550x550.jpg 550w', sizes='(max-width: 550px) 100vw, 550px')
                                .edgtf-item-text-overlay
                                    .edgtf-item-text-overlay-inner
                                        .edgtf-item-text-holder
                                            h4.edgtf-item-title
                                                a(href='javascript:;')
                                                    | Vision Logo
                                            .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-center.edgtf-zig-zag-separator-on(data-svg-drawing='no', data-svg-frames='40', style='margin-top: 5px;margin-bottom: 6px')
                                                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='14', width='68', viewBox='0 0 69.172 14.975', xml:space='preserve')
                                                    path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                                                    29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                                            .edgtf-ptf-category-holder
                                                span Fashion
                                                |  / 
                                                span Personal