.vc_row.wpb_row.vc_row-fluid.edgtf-section.vc_custom_1446647207681.edgtf-content-aligment-center(style='')
    .edgtf-section-background-elements(data-dir='bottom-left-top-right', data-zigzag='yes', data-randsize='no', data-floaterspeed='20', data-floaterwidth='243', data-floaterheight='241', data-floatersrc='/public/images/uploads/home-main-floating-image-latest2.png')
        .edgtf-section-background-elements-inner.edgtf-s-bei-1
        .edgtf-section-background-elements-inner.edgtf-s-bei-2
    .clearfix.edgtf-full-section-inner
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 0px;margin-bottom: 78px')
                        .edgtf-separator
                    .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                            h2 花瓣雨 & 落在心的最深处
                    .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-center.edgtf-zig-zag-separator-medium(data-svg-drawing='yes', data-svg-frames='40', style='margin-top: 18px;margin-bottom: 19px')
                        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='14', width='68', viewBox='0 0 69.172 14.975', xml:space='preserve')
                            path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                            29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                    .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                            h4 这如青葱般的季节里，这满眼开满繁花的视野，热烈奔放，朵朵片片的花红，已觉微醺迷醉
                    .edgtf-separator-holder.clearfix.edgtf-separator-center.edgtf-separator-transparent(style='margin-top: 0px;margin-bottom: 57px')
                        .edgtf-separator
                    .wpb_single_image.wpb_content_element.vc_align_center
                        figure.wpb_wrapper.vc_figure
                            .vc_single_image-wrapper.vc_box_border_grey
                                img.vc_single_image-img.attachment-full(width='1476', height='475', src='/public/images/uploads/main-home-image.png', alt='d', srcset='/public/images/uploads/main-home-image-300x97.png 300w, /public/images/uploads/main-home-image-768x247.png 768w, /public/images/uploads/main-home-image-1024x330.png 1024w, /public/images/uploads/main-home-image-700x225.png 700w, /public/images/uploads/main-home-image.png 1476w', sizes='(max-width: 1476px) 100vw, 1476px')