footer
    .edgtf-footer-inner.clearfix
        .edgtf-footer-top-holder
            .edgtf-footer-top.edgtf-footer-top-full
                .edgtf-four-columns.clearfix
                    .edgtf-four-columns-inner
                        .edgtf-column
                            .edgtf-column-inner
                                #text-2.widget.edgtf-footer-column-1.widget_text
                                    h3.edgtf-footer-widget-title 关于火星人
                                    .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-left.edgtf-zig-zag-separator-small.edgtf-zig-zag-separator-on(data-svg-drawing='no', data-svg-frames='40')
                                        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='12', width='57', viewBox='0 0 69.172 14.975', xml:space='preserve')
                                            path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                                            29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                                    .textwidget 火星人数字市场是一个主题模板/创意作品/数字交易平台，你可以出售最优秀的网页模板和平面设计作品！本站全部主题模板为100%正品模板，支持更新升级！
                        .edgtf-column
                            .edgtf-column-inner
                                #recent-posts-2.widget.edgtf-footer-column-2.widget_recent_entries
                                    h3.edgtf-footer-widget-title 近期文章
                                    .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-left.edgtf-zig-zag-separator-small.edgtf-zig-zag-separator-on(data-svg-drawing='no', data-svg-frames='40')
                                        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='12', width='57', viewBox='0 0 69.172 14.975', xml:space='preserve')
                                            path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                                            29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                                    ul
                                        li
                                            a(href='javascript:;')
                                                | Type
                                                | Tips
                                        li
                                            a(href='javascript:;')
                                                | Bold
                                                | & Beautiful
                                        li
                                            a(href='javascript:;')
                                                | Natural
                                                | Art
                                        li
                                            a(href='javascript:;')
                                                | Summer
                                                | Brunch
                                        li
                                            a(href='javascript:;')
                                                | Stephen
                                                | Hawking
                        .edgtf-column
                            .edgtf-column-inner
                                #nav_menu-3.widget.edgtf-footer-column-3.widget_nav_menu
                                    h3.edgtf-footer-widget-title 友情链接
                                    .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-left.edgtf-zig-zag-separator-small.edgtf-zig-zag-separator-on(data-svg-drawing='no', data-svg-frames='40')
                                        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='12', width='57', viewBox='0 0 69.172 14.975', xml:space='preserve')
                                            path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                                            29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                                    .menu-links-container
                                        ul#menu-links.menu
                                            li#menu-item-5246.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-5246
                                                a(href='javascript:;') 创客设计
                                            li#menu-item-5247.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-5247
                                                a(href='javascript:;') 数字市场
                                            li#menu-item-5249.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-5249
                                                a(href='javascript:;') 创意模板
                                            li#menu-item-5248.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-5248
                                                a(href='javascript:;') 精选案例
                                            li#menu-item-5245.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-5245
                                                a(href='javascript:;') 火星人
                        .edgtf-column
                            .edgtf-column-inner
                                #text-3.widget.edgtf-footer-column-4.widget_text
                                    h3.edgtf-footer-widget-title 联系我们
                                    .edgtf-zig-zag-separator-holder.clearfix.edgtf-svg-frames-class.edgtf-zig-zag-separator-left.edgtf-zig-zag-separator-small.edgtf-zig-zag-separator-on(data-svg-drawing='no', data-svg-frames='40')
                                        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='12', width='57', viewBox='0 0 69.172 14.975', xml:space='preserve')
                                            path.edgtf-zig-zag-separator(d='M1.357,12.26 10.807,2.81 20.328,12.332\
                                            29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 ')
                                    .textwidget
                                        .edgtf-icon-list-item
                                            .edgtf-icon-list-icon-holder
                                                .edgtf-icon-list-icon-holder-inner.clearfix
                                                    i.edgtf-icon-simple-line-icon.icon-home(style='color:#969696;font-size:17px')
                                            p.edgtf-icon-list-text(style='color:#969696;font-size:14px')
                                                | 4745 Buena Vista Avenue
                                                br
                                                | Roseburg, OR 97470
                                        .edgtf-icon-list-item
                                            .edgtf-icon-list-icon-holder
                                                .edgtf-icon-list-icon-holder-inner.clearfix
                                                    i.edgtf-icon-simple-line-icon.icon-call-end(style='color:#969696;font-size:17px')
                                            p.edgtf-icon-list-text(style='color:#969696;font-size:14px') 电话：0771-3216270
                                        .edgtf-icon-list-item
                                            .edgtf-icon-list-icon-holder
                                                .edgtf-icon-list-icon-holder-inner.clearfix
                                                    i.edgtf-icon-simple-line-icon.icon-envelope-open(style='color:#969696;font-size:17px')
                                            p.edgtf-icon-list-text(style='color:#969696;font-size:14px') 邮箱：dc@mars-it.net
        .edgtf-footer-bottom-holder
            .edgtf-footer-bottom-holder-inner.edgtf-footer-bottom-full
                .edgtf-two-columns-50-50.clearfix
                    .edgtf-two-columns-50-50-inner
                        .edgtf-column
                            .edgtf-column-inner
                                #text-5.widget.edgtf-footer-bottom-left.widget_text
                                    .textwidget
                                        | © 2018 火星云 | 由 
                                        a(href='javascript:;') 火星人
                                        |  深度汉化驱动！
                        .edgtf-column
                            .edgtf-column-inner
                                #text-6.widget.edgtf-footer-bottom-left.widget_text
                                    .textwidget
                                        span 分享
                                        span.edgtf-icon-shortcode.normal(style='margin: 0 40px 0 40px', data-hover-color='#ffffff', data-color='#969696')
                                            a(href="javascript:;")
                                                i.edgtf-icon-font-awesome.fa.fa-weixin.edgtf-icon-element(style='color: #969696;font-size:18px')
                                        span.edgtf-icon-shortcode.normal(style='margin: 0 40px 0 0', data-hover-color='#ffffff', data-color='#969696')
                                            a(href="javascript:;")
                                                i.edgtf-icon-font-awesome.fa.fa-qq.edgtf-icon-element(style='color: #969696;font-size:18px')
                                        span.edgtf-icon-shortcode.normal(style='margin: 0 40px 0 0', data-hover-color='#ffffff', data-color='#969696')
                                            a(href="javascript:;")
                                                i.edgtf-icon-font-awesome.fa.fa-weibo.edgtf-icon-element(style='color: #969696;font-size:18px')
                                        span.edgtf-icon-shortcode.normal(style='margin: 0 40px 0 0', data-hover-color='#ffffff', data-color='#969696')
                                            a(href="javascript:;")
                                                i.edgtf-icon-font-awesome.fa.fa-renren.edgtf-icon-element(style='color: #969696;font-size:18px')
                                        span.edgtf-icon-shortcode.normal(style='margin: 0 40px 0 0', data-hover-color='#ffffff', data-color='#969696')
                                            a(href="javascript:;")
                                                i.edgtf-icon-font-awesome.fa.fa-pinterest.edgtf-icon-element(style='color: #969696;font-size:18px')
