header.edgtf-page-header
    .edgtf-fixed-wrapper
        .edgtf-menu-area(style='background-color:rgba(0, 0, 0, 0.55);border-bottom-color:rgba(252, 252, 252, 0.19);')
            .edgtf-vertical-align-containers
                .edgtf-position-left
                    .edgtf-position-left-inner
                        .edgtf-logo-wrapper
                            a(href='/')
                                img.edgtf-normal-logo(src='/public/images/head/logo.png' style='margin: 4px;')
                                img.edgtf-dark-logo(src='/public/images/head/logo.png' style='margin: 4px;')
                                img.edgtf-light-logo(src='/public/images/head/logo.png' style='margin: 4px;')
                .edgtf-position-center
                    .edgtf-position-center-inner
                        nav.edgtf-main-menu.edgtf-drop-down.edgtf-default-nav
                            ul#menu-main_menu.clearfix
                                li#nav-menu-item-4935.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-ancestor.current-menu-parent.menu-item-has-children.edgtf-active-item.has_sub.narrow
                                    a.current(href='/')
                                        span.item_outer
                                            span.item_inner
                                                span.menu_icon_wrapper
                                                    i.menu_icon.null.fa
                                                span.item_text
                                                    span.item_title 首页
                                li#nav-menu-item-5174.menu-item.menu-item-type-post_type.menu-item-object-page.narrow
                                    a(href='intro')
                                        span.item_outer
                                            span.item_inner
                                                span.menu_icon_wrapper
                                                    i.menu_icon.null.fa
                                                span.item_text
                                                    span.item_title Intro
                                            span.plus
                                li#nav-menu-item-4936.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.has_sub.wide.wide_columns_4
                                    a(href='page')
                                        span.item_outer
                                            span.item_inner
                                                span.menu_icon_wrapper
                                                    i.menu_icon.null.fa
                                                span.item_text
                                                    span.item_title 页面
                                li#nav-menu-item-4937.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.has_sub.wide.wide_columns_4
                                    a(href='works')
                                        span.item_outer
                                            span.item_inner
                                                span.menu_icon_wrapper
                                                    i.menu_icon.null.fa
                                                span.item_text
                                                    span.item_title 作品
                                li#nav-menu-item-4948.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.has_sub.narrow
                                    a(href='blog')
                                        span.item_outer
                                            span.item_inner
                                                span.menu_icon_wrapper
                                                    i.menu_icon.null.fa
                                                span.item_text
                                                    span.item_title 博客
                                li#nav-menu-item-4950.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.has_sub.wide.wide_columns_4
                                    a(href='intro')
                                        span.item_outer
                                            span.item_inner
                                                span.menu_icon_wrapper
                                                    i.menu_icon.null.fa
                                                span.item_text
                                                    span.item_title 元素
                                li#nav-menu-item-4953.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.has_sub.wide.wide_columns_4
                                    a(href='shop')
                                        span.item_outer
                                            span.item_inner
                                                span.menu_icon_wrapper
                                                    i.menu_icon.null.fa
                                                span.item_text
                                                    span.item_title 商店
                                            span.plus
                                    .second
                                        .inner
                                            ul
                                                li#nav-menu-item-4958.menu-item.menu-item-type-custom.menu-item-object-custom
                                                    a(href="javascript:;")
                                                        span.item_outer
                                                            span.item_inner
                                                                span.menu_icon_wrapper
                                                                    i.menu_icon.null.fa
                                                                span.item_text
                                                                    span.item_title 热门商品
                                                            span.plus
                                                    .widget.woocommerce.widget_products
                                                        h6 产品
                                                        ul.product_list_widget
                                                            li
                                                                a(href='shop_show', title="Men's Wallet")
                                                                    img.attachment-shop_thumbnail.size-shop_thumbnail.wp-post-image(width='180', height='180', src='/public/images/uploads/sh-img-mens-wallet-180x180.jpg', alt='t', srcset='/public/images/uploads/sh-img-mens-wallet-150x150.jpg 150w, /public/images/uploads/sh-img-mens-wallet-180x180.jpg 180w, /public/images/uploads/sh-img-mens-wallet-300x300.jpg 300w, /public/images/uploads/sh-img-mens-wallet-600x600.jpg 600w, /public/images/uploads/sh-img-mens-wallet-550x550.jpg 550w, /public/images/uploads/sh-img-mens-wallet-1000x1000.jpg 1000w', sizes='(max-width: 180px) 100vw, 180px')
                                                                    span.product-title Men's Wallet
                                                                del
                                                                    span.amount ¥185.00
                                                                ins
                                                                    span.amount ¥141.00
                                                            li
                                                                a(href='shop_show', title='Urban T-shirt')
                                                                    img.attachment-shop_thumbnail.size-shop_thumbnail.wp-post-image(width='180', height='180', src='/public/images/uploads/sh-img-urban-t-shirt-180x180.jpg', alt='s', srcset='/public/images/uploads/sh-img-urban-t-shirt-150x150.jpg 150w, /public/images/uploads/sh-img-urban-t-shirt-180x180.jpg 180w, /public/images/uploads/sh-img-urban-t-shirt-300x300.jpg 300w, /public/images/uploads/sh-img-urban-t-shirt-600x600.jpg 600w, /public/images/uploads/sh-img-urban-t-shirt-550x550.jpg 550w, /public/images/uploads/sh-img-urban-t-shirt-1000x1000.jpg 1000w', sizes='(max-width: 180px) 100vw, 180px')
                                                                    span.product-title Urban T-shirt
                                                                span.amount ¥136.00
                                                li#nav-menu-item-4959.menu-item.menu-item-type-custom.menu-item-object-custom
                                                    a(href="javascript:;")
                                                        span.item_outer
                                                            span.item_inner
                                                                span.menu_icon_wrapper
                                                                    i.menu_icon.null.fa
                                                                span.item_text
                                                                    span.item_title 最新商品
                                                            span.plus
                                                    .widget.widget_text
                                                        .textwidget
                                                            a(href="javascript:;")
                                                                img(src='/public/images/uploads/dropdown-banner.jpg', alt='logo')
                                li#nav-menu-item-5251.menu-item.menu-item-type-custom.menu-item-object-custom.narrow
                                    a(href='javascript:;')
                                        span.item_outer
                                            span.item_inner
                                                span.menu_icon_wrapper
                                                    i.menu_icon.null.fa
                                                span.item_text
                                                    span.item_title 购买主题
                                            span.plus
                .edgtf-position-right
                    .edgtf-position-right-inner
                        a.edgtf-search-opener(data-icon-close-same-position='yes', href='javascript:void(0)')
                            i.edgtf-icon-font-awesome.fa.fa-search
                        a.edgtf-side-menu-button-opener(href='javascript:void(0)')
                            span.lines-holder
                                span.first.line
                                span.second.line
                                span.third.line
header.edgtf-mobile-header
    .edgtf-mobile-header-inner
        .edgtf-mobile-header-holder
            .edgtf-grid
                .edgtf-vertical-align-containers
                    .edgtf-mobile-menu-opener
                        a(href='javascript:void(0)')
                            span.edgtf-mobile-opener-icon-holder
                                i.edgtf-icon-font-awesome.fa.fa-bars
                    .edgtf-position-center
                        .edgtf-position-center-inner
                            .edgtf-mobile-logo-wrapper
                                a(href='index.htm')
                                    img(src='/public/images/head/logo1.png' style='width: 130px;')
                    .edgtf-position-right
                        .edgtf-position-right-inner
                            a.edgtf-search-opener(data-icon-close-same-position='yes', href='javascript:void(0)')
                                i.edgtf-icon-font-awesome.fa.fa-search
        nav.edgtf-mobile-nav
            .edgtf-grid
                ul#menu-main_menu-1
                    li#mobile-menu-item-4935.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-ancestor.current-menu-parent.menu-item-has-children.edgtf-active-item.has_sub
                        a.current(href='/')
                            span 首页
                    li#mobile-menu-item-5174.menu-item.menu-item-type-post_type.menu-item-object-page
                        a(href='intro')
                            span Intro
                    li#mobile-menu-item-4936.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.has_sub
                        a(href='page')
                            span 页面
                    li#mobile-menu-item-4937.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.has_sub
                        a(href='works')
                            span 作品
                    li#mobile-menu-item-4948.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.has_sub
                        a(href='blog')
                            span 博客
                    li#mobile-menu-item-4950.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.has_sub
                        a(href='intro')
                            span 元素
                    li#mobile-menu-item-4953.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.has_sub
                        a(href='shop')
                            span 商店
                            li#mobile-menu-item-4958.menu-item.menu-item-type-custom.menu-item-object-custom
                                a(href="javascript:;")
                                    span 热门商品
                            li#mobile-menu-item-4959.menu-item.menu-item-type-custom.menu-item-object-custom
                                a(href="javascript:;")
                                    span 最新商品
                    li#mobile-menu-item-5251.menu-item.menu-item-type-custom.menu-item-object-custom
                        a(href='javascript:;')
                            span 购买主题