@import "woocommerce.min.css";
@import "blog.min.css";
@import "mediaelementplayer.min.css";
@import "vc_lte_ie9.min.css";
@import "vc-ie8.min.css";
@import "wp-mediaelement.css";
@import "styles.css";
@import "settings.css";
@import "plugins.min.css";
@import "modules.min.css";
@import "font-awesome.min.css";
@import "style.min.css";
@import "ionicons.min.css";
@import "font.css";
@import "simple-line-icons.css";
@import "dripicons.css";
@import "woocommerce-responsive.min.css";
@import "style_dynamic.css";
@import "modules-responsive.min.css";
@import "blog-responsive.min.css";
@import "style_dynamic_responsive.css";
@import "js_composer.min.css";
@import "css-family.css";
@import "css-family.min.css";
.vc_custom_1446647207681 {
  background-color: #ffffff !important;
}
.vc_custom_1444140647755 {
  background-color: #fb3644 !important;
}
.vc_custom_1444658513013 {
  padding-top: 82px !important;
  padding-bottom: 58px !important;
}
.vc_custom_1444381087929 {
  padding-bottom: 62px !important;
}
.vc_custom_1444317160667 {
  border-top-width: 1px !important;
  background-color: #fafafa !important;
  border-top-color: #e0e0e0 !important;
  border-top-style: solid !important;
}
.vc_custom_1444380078395 {
  padding-top: 54px !important;
  padding-bottom: 54px !important;
  background-color: #0e1718 !important;
}
.vc_custom_1444223101291 {
  padding-top: 79px !important;
  padding-bottom: 92px !important;
}
.vc_custom_1444381484448 {
  border-top-width: 1px !important;
  padding-top: 74px !important;
  padding-bottom: 8px !important;
  background-color: #fafafa !important;
  border-top-color: #e0e0e0 !important;
  border-top-style: solid !important;
}
.vc_custom_1444381536071 {
  padding-bottom: 37px !important;
  background-color: #fafafa !important;
}
.vc_custom_1444383922684 {
  padding-top: 186px !important;
  padding-bottom: 186px !important;
}
.vc_custom_1444397163088 {
  padding-top: 79px !important;
  padding-bottom: 58px !important;
}
.vc_custom_1444139900260 {
  padding-bottom: 64px !important;
}
.vc_custom_1444141558049 {
  background-image: url("../images/uploads/main-home-background-4.jpg-id=314.jpg") !important;
}
.vc_custom_1445520595693 {
  border-right-width: 1px !important;
  border-right-color: rgba(255, 255, 255, 0.09) !important;
  border-right-style: solid !important;
}
.vc_custom_1445520605371 {
  border-right-width: 1px !important;
  border-right-color: rgba(255, 255, 255, 0.09) !important;
  border-right-style: solid !important;
}
.vc_custom_1445520613679 {
  border-right-width: 1px !important;
  border-right-color: rgba(255, 255, 255, 0.09) !important;
  border-right-style: solid !important;
}
.vc_custom_1445520622557 {
  border-right-width: 1px !important;
  border-right-color: rgba(255, 255, 255, 0.09) !important;
  border-right-style: solid !important;
}
.vc_custom_1445520632325 {
  border-right-width: 1px !important;
  border-right-color: rgba(255, 255, 255, 0.09) !important;
  border-right-style: solid !important;
}
img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}
/* generated in /home/ftp/c/cloud_wp/wwwroot/quadric/wp-content/themes/quadric/functions.php edgtf_quadric_header_fixed_style function */
.page-id-11.edgtf-header-standard .edgtf-fixed-wrapper.fixed .edgtf-menu-area {
  background-color: rgba(0, 0, 0, 0.85) !important;
}
@media only screen and (min-width: 1280px) and (max-width: 1366px) {
  .edgtf-elements-holder .edgtf-elements-holder-custom-785601 .edgtf-elements-holder-item-content {
    padding: 9% 15.5% 7% !important;
  }
}
.wpb_animate_when_almost_visible {
  opacity: 1;
}
.vc_custom_1445246134288 {
  padding-top: 78px !important;
  padding-bottom: 70px !important;
}
.vc_custom_1445330681051 {
  padding-bottom: 27px !important;
}
.vc_custom_1444655530670 {
  background-image: url("../images/uploads/background-1427.jpg") !important;
}
.vc_custom_1444991746608 {
  padding-top: 85px !important;
  padding-bottom: 85px !important;
  background-color: #f2f2f2 !important;
}
.vc_custom_1444654834372 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}
.vc_custom_1445330749609 {
  padding-bottom: 69px !important;
}
.vc_custom_1445246406896 {
  border-top-width: 1px !important;
  padding-top: 74px !important;
  padding-bottom: 8px !important;
  background-color: #fafafa !important;
  border-top-color: #e0e0e0 !important;
  border-top-style: solid !important;
}
.vc_custom_1444226476613 {
  border-bottom-width: 1px !important;
  padding-bottom: 37px !important;
  background-color: #fafafa !important;
  border-bottom-color: #e0e0e0 !important;
  border-bottom-style: solid !important;
}
.vc_custom_1444657841207 {
  padding-top: 85px !important;
}
.vc_custom_1445330818163 {
  padding-bottom: 33px !important;
}
.vc_custom_1444652713563 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  background-color: #f1f1f1 !important;
}
.vc_custom_1445415038600 {
  padding-bottom: 68px !important;
}
.vc_custom_1445336563300 {
  padding-top: 78px !important;
}
.vc_custom_1444830035051 {
  padding-top: 86px !important;
  padding-bottom: 53px !important;
}
.vc_custom_1445327534435 {
  padding-bottom: 58px !important;
}
.vc_custom_1444814054071 {
  background-image: url("/public/images/uploads/shop-parallax-1.jpg-id=1815.jpg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}
.vc_custom_1445439717775 {
  padding-top: 78px !important;
  padding-bottom: 30px !important;
}
.vc_custom_1444814794607 {
  padding-top: 60px !important;
  padding-bottom: 63px !important;
  background-image: url("/public/images/uploads/shop-parallax-2.jpg-id=1891.jpg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.vc_custom_1445327839186 {
  padding-top: 77px !important;
  padding-bottom: 153px !important;
}
.vc_custom_1445592871047 {
  background-image: url("/public/images/uploads/Home-shop-parallax.jpg-id=4649.jpg") !important;
}
.vc_custom_1445327970368 {
  padding-top: 78px !important;
  padding-bottom: 28px !important;
}
.vc_custom_1444828601601 {
  padding-top: 98px !important;
  padding-bottom: 57px !important;
}
.vc_custom_1444828664306 {
  padding-bottom: 43px !important;
}
.vc_custom_1444141558049 {
  background-image: url("/public/images/uploads/main-home-background-4.jpg-id=314.jpg") !important;
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .edgtf-elements-holder .edgtf-elements-holder-custom-815697 .edgtf-elements-holder-item-content {
    padding: 21% 0 16% 22% !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .edgtf-elements-holder .edgtf-elements-holder-custom-815697 .edgtf-elements-holder-item-content {
    padding: 21% 3% 16% 16% !important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .edgtf-elements-holder .edgtf-elements-holder-custom-815697 .edgtf-elements-holder-item-content {
    padding: 12% 0% 11% 30% !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 600px) {
  .edgtf-elements-holder .edgtf-elements-holder-custom-815697 .edgtf-elements-holder-item-content {
    padding: 12% 0% 11% 30% !important;
  }
}
@media only screen and (max-width: 480px) {
  .edgtf-elements-holder .edgtf-elements-holder-custom-815697 .edgtf-elements-holder-item-content {
    padding: 12% 15% 11% 15% !important;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1366px) {
  .edgtf-elements-holder .edgtf-elements-holder-custom-414614 .edgtf-elements-holder-item-content {
    padding: 5% 0 3% 0 !important;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .edgtf-elements-holder .edgtf-elements-holder-custom-414614 .edgtf-elements-holder-item-content {
    padding: 5% 0 3% 0 !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .edgtf-elements-holder .edgtf-elements-holder-custom-414614 .edgtf-elements-holder-item-content {
    padding: 8% 24% 0% 0% !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .edgtf-elements-holder .edgtf-elements-holder-custom-527346 .edgtf-elements-holder-item-content {
    padding: 25% 0% 0% 19% !important;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .edgtf-elements-holder .edgtf-elements-holder-custom-674865 .edgtf-elements-holder-item-content {
    padding: 8.5% 10% 9.7% !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .edgtf-elements-holder .edgtf-elements-holder-custom-674865 .edgtf-elements-holder-item-content {
    padding: 8.5% 20% 9.7% !important;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .edgtf-elements-holder .edgtf-elements-holder-custom-597208 .edgtf-elements-holder-item-content {
    padding: 8.5% 10% 9.7% !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .edgtf-elements-holder .edgtf-elements-holder-custom-597208 .edgtf-elements-holder-item-content {
    padding: 8.5% 20% 9.7% !important;
  }
}
.vc_custom_1444048069613 {
  padding-top: 42px !important;
  padding-bottom: 27px !important;
}
